@import "../../styles/variables.scss";

.activity-panel {
    padding: 0.5em 0;
    > div {
        padding: 2px;
        cursor: default;
        
        + div {
            border-top: 1px solid #DDD;
        }
        
        &:hover {
            box-shadow: 0 0 0 0.5px fade-out($color-blue, 0.8);
            background-color: fade-out($color: $color-blue      , $amount: 0.9)

        }

        &.small {
            line-height: 1.5;
        }
    }
}

.log {
    max-height: calc(100vh - 18em);
    overflow: auto;
}
.log-line {
    padding: 0px 2px;
    line-height: 1.4;

    &:hover {
        box-shadow: 0 0 0 0.5px fade-out($color-blue, 0.8);
        background-color: fade-out($color-blue, 0.9);
    }
}

