.project, .col.project {
    border: 1px solid #DDD;
    background: #FFF;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    min-width: 24em;

    > h3 {
        margin: 0 0 1em;
        text-align: center;
    }
}