
/* omit characters from middle of long lines that do not wrap, e.g. URLs */
.truncated::before, .truncated::after {
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}

.truncated::before {
    content: attr(data-content-start);
    text-overflow: ellipsis;
}

.truncated::after {
    content: attr(data-content-end);
    direction: rtl;
    text-overflow: ellipsis;
}