#main > .view-browser {
    max-height: calc(100vh - 310px);
}

.collapse {
    
    .collapse-header {
        font-size: 110%;
        font-weight: 500;

        .collapse-header-link {
            opacity         : 0;
            margin-left     : 2em;
            font-size       : 75%;
            transition      : all 0.4s linear 0;
            transform-origin: 0 50%;
        }

        &:hover .collapse-header-link {
            opacity   : 1;
            transition: all 0.4s linear 0.1s;
        }
    }

    &:not(.collapsed) {

        .collapse-header {
            color: var(--color-brand-2);
        }
    }
}

.view-browser-header {
    position: sticky;
    top: 4rem;
    padding-top: 1rem;
    margin-top: -2rem;
    background-color: var(--color-window-bg);
    z-index: 2;
}

.view-browser {
    margin-top: var(--gap);
    margin-bottom: var(--gap);
    display: flex;
    flex-wrap: wrap;
    
    .view-thumbnail {

        &.selected, &.focus, &:focus-visible  {
            border-radius: 10px;
            background-color: #FFF;
            outline: 0 none;
            color: #333;

            .color-muted {
                color: #888;
            }

            .view-thumbnail-image {
                border-color: transparent;
                background: transparent;
            }
        }

        &.focus {
            box-shadow: 0 0 2px 1px var(--color-green) inset,
                        0 0 1px 3px var(--color-window-bg-soft) inset,
                        0 0 0px 4px var(--color-green) inset;
        }

        &.selected, &.selected.focus {
            box-shadow: 0 0 2px 1px var(--color-blue-dark) inset,
                        0 0 1px 3px var(--color-window-bg) inset,
                        0 0 0px 4px var(--color-blue-dark) inset;
        }

        &:focus-visible {
            box-shadow: 0 0 2px 1px var(--color-green) inset,
                        0 0 1px 3px var(--color-window-bg-soft) inset,
                        0 0 0px 4px var(--color-green) inset;
        }
    }

    .view-thumbnail-image {
        border: 2px solid var(--color-grey);
        border-radius: 10px;
        background: #FFF;
        background: var(--color-window-bg-hard);
        overflow: hidden;
        padding: 2px;
        aspect-ratio: 5/3;
        box-sizing: content-box;

        img {
            display: block;
            image-rendering: optimizeQuality;
            aspect-ratio: 5/3;
            object-fit: contain;
            object-position: center;
            width: 100%;
            border-radius: 6px;
        }
    }

    .view-thumbnail.draft {
        position: relative;
        overflow: hidden;
        z-index: 0;
        &:after {
            content: "DRAFT";

            top: 0;
            left: 0;

            position: absolute;
            z-index : 100;

            background: #E60C;
            color     : #FFF;
            
            font-size  : 10px;
            font-weight: 600;
            font-weight: 600;
            line-height: 1;
            text-align : center;


            padding: 2px 8px;
            width  : 60px;
            height : 10px;
            transform-origin: 0 0;
            transform  : translate(-14px, 40px) rotate(-45deg);
            box-shadow : 0 0 0 0.5px #B30C inset;
            text-shadow: 0 0px 2px rgb(145, 63, 0);
        }
    }

    .view-thumbnail.template {
        position: relative;
        &:after {
            content: "";
            width: 8px;
            height: 8px;
            background: var(--color-grey);
            border-radius: 50%;
            line-height: 0;
            position: absolute;
            top: 6px;
            right: 6px;
        }
    }

    .plus-icon-wrapper {
        position: relative;
        padding-bottom: 60%;
    }

    .view-thumbnail-title {
        text-align: center;
        margin: 5px 0 9px;
        word-break: break-all;
        word-break: break-word;
        padding: 0 5px;
    }

    .view-thumbnail-description {
        font-size  : 90%;
        font-weight: normal;
        white-space: normal;
    }

    a:hover {
        .view-thumbnail-image {
            border-color: var(--color-soft);
        }
    }
}

.view-browser {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 1em;

    &.view-browser-column {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }

    &.view-browser-list {
        grid-template-columns: 1fr !important;
    }
}

// -----------------------------------------------------------------------------
.view-browser.view-browser-column,
.view-browser.view-browser-list {
    
    .view-thumbnail {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1 1 30em;
        overflow: hidden;
        border-radius: 6px;
    }
    .view-thumbnail-image {
        flex   : 0 0 8em;
        display: block;
        max-width: none;
        border-radius: 6px;
        align-self: center;
        align-items: center;
        align-content: center;

        img {
            border-radius: 3px !important;
        }
    }

    .view-thumbnail-title {
        margin: 0 10px;
        font-weight: bold;
        text-align: left;
        font-size: 100%;
        text-shadow: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0.5em 4px 0.5em 0;
        flex: 1;

        .view-thumbnail-description {
            overflow     : hidden;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
    }
}

.view-browser.view-browser-column .view-thumbnail .view-thumbnail-title .view-thumbnail-description {
    -webkit-line-clamp: 3;
    word-break: break-word;
    line-break: anywhere;
}
