@import "../../styles/variables.scss";

#main > .view-browser {
    max-height: calc(100vh - 310px);
}

.graph-group {
    
    .graph-group-header {
        padding: 0.5em 0;
        border-bottom: 1.5px dashed #BBB;
        box-shadow: 0 1px 0 0 #FFF;
        font-size: 110%;
        font-weight: 500;
        cursor: pointer;
        color: #777;

        &::marker {
            color: #999;
            font-size: 13px;
        }
    }

    &[open] {
        margin-bottom: 3rem;

        summary {
            color: $color-brand-2;
        }
    }
}

.view-browser {
    margin-top: $gap;
    margin-bottom: $gap;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    
    // justify-content: space-evenly;

    .view-thumbnail-image {
        border: 2px solid $color-grey;
        border-radius: 10px;
        padding: 0 0 60%;
        background: #FFF;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 94%;
        image-rendering: optimizeQuality;

        // img {
        //     display: block;
        //     width: 100%;
        //     // height: auto;
        //     // max-width: 162px;
        //     // max-height: 162px;
        //     position: absolute;
        //     object-position: center;
        //     object-fit: cover;
        // }
    }

    .plus-icon-wrapper {
        position: relative;
        padding-bottom: 60%;
    }

    .view-thumbnail-title {
        text-align: center;
        margin: 5px 0 20px;
        text-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.5);
        word-break: break-all;
        word-break: break-word;
    }

    .view-thumbnail-description {
        font-size  : 90%;
        font-weight: normal;
        white-space: normal;
    }

    // a .view-thumbnail-title {
    //     text-decoration: none;
    // }

    .view-thumbnail-add-btn {
        text-align: center;
        .fa-plus {
            display: block;
            // background: coral;
            width: 100%;
            height: 100%;
            max-width: 162px;
            max-height: 162px;
            // aspect-ratio: 1;
            font-size: 30px;
            position: absolute;
            
            &:before {
                // vertical-align: middle;
                line-height: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                text-align: center;
                width: 5vw;
                margin: 0 0 0 -2.5vw;
                color: $color-green;
            }
        }

        a:hover .view-thumbnail-image {
            background-color: #FFF;
        }
    }

    a:hover {
        .view-thumbnail-image {
            border-color: darken($color: $color-blue, $amount: 15%);
        }
    }
}

.view-browser.view-browser-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}
.view-browser.view-browser-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.view-browser.view-browser-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

// -----------------------------------------------------------------------------
.view-browser.view-browser-column,
.view-browser.view-browser-list {
    
    .view-thumbnail {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1 1 30em;
        overflow: hidden;
    }
    .view-thumbnail-image {
        flex   : 0 0 8em;
        // height : 72px;
        height : 5em;
        // padding: 75% 0 0;

        // width  : 100px;
        padding: 0;
        display: block;
        max-width: none;
        border-radius: 6px;
        align-self: flex-start;
    }

    .view-thumbnail-title {
        margin: 0 10px;
        font-weight: bold;
        text-align: left;
        font-size: 100%;
        text-shadow: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 1px;
        flex: 1;

        .view-thumbnail-description {
            overflow     : hidden;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
    }
}

.view-browser.view-browser-column .view-thumbnail .view-thumbnail-title .view-thumbnail-description {
    -webkit-line-clamp: 2;
}

@media (min-width: 50em) {
    .view-browser.view-browser-column {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 100em) {
    .view-browser.view-browser-column {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 50em) {
    .view-browser.view-browser-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 40em) {
    .view-browser.view-browser-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 30em) {
    .view-browser.view-browser-grid {
        grid-template-columns: 1fr 1fr;
    }
}

.view-browser.nested {
    grid-template-columns: 1fr;
    min-height: 200px;
}

