.breadcrumbs {
    margin-bottom: 1rem;
    a {
        color: var(--color-blue);
        white-space: nowrap;
    }
    .icon {
        color: rgb(from var(--color-window-fg-soft) r g b / 0.5);
        margin: 0 0.5em;
    }
}