#modal > .dialog {
    z-index       : 40001;
    position      : fixed;
    top           : 0;
    left          : 0;
    min-width     : 320px;
    min-height    : 120px;
    max-width     : 90vw;
    max-height    : 90vh;
    transform     : translate(-500%, -500%);
    border-radius : 5px;
    display       : flex;
    flex-direction: column;
    box-shadow    : 0px 0px 0px 2px var(--color-blue-dark), 0px 5px 20px -4px #0009;
    
    .dialog-header {
        padding        : 0.25rem 0.5rem;
        font-size      : 120%;
        font-weight    : 500;
        color          : var(--color-window-bg);
        background     : var(--color-blue-dark);
        border-radius  : 5px 5px 0 0;
        flex           : 0;
        display        : flex;
        cursor         : grab;
        justify-content: space-between;
        align-items    : center;

        &:active {
            cursor: grabbing;
        }

        .close-dialog {
            flex       : 0;
            opacity    : 0.6;
            transition : all 0.2s;
            cursor     : pointer;

            &:hover {
                opacity: 1;
                color  : var(--color-orange);
            }
        }
    }

    .dialog-body {
        padding : 0.5rem;
        overflow: auto;
        flex    : 1;
        background: var(--color-window-bg);
        display: flex;
        flex-direction: column;
    }

    .dialog-footer {
        padding        : 0.5rem 0.5rem;
        border-top     : 1px solid #0003;
        background     : var(--color-window-bg) linear-gradient(#0002, #0001 100%);
        box-shadow     : 0 10px 5px -10px #0002 inset;
        border-radius  : 0 0 5px 5px;
        flex           : 0;
        align-items    : center;
        justify-items  : normal;
        display        : flex;
        justify-content: center;
        align-content  : center;
        flex-wrap      : wrap;
        flex-direction : row;

        button {
            border-color: #0003;
        }
    }

    .dialog-body:last-child {
        padding-bottom: 0.5em;
    }
}

#modal .dialog-overlay {
    z-index        : 40000;
    position       : fixed;
    top            : 0;
    right          : 0;
    bottom         : 0;
    left           : 0;
    background     : #0006;

    &:not(.modal) {
        pointer-events: none;
        background    : transparent;
        display       : none;
    }
}

#modal:has(.modal) + #root {
    user-select   : none;
    pointer-events: none;
}

#modal.dragging .dialog-overlay {
    pointer-events: all;
    display       : block;
}
