@import "../../styles/variables.scss";

.template-manager {

    .view-thumbnail {
        // cursor: pointer;

        .thumbnail-buttons-overlay {
            position   : absolute;
            top        : 0;
            left       : 0;
            right      : 0;
            bottom     : 0;
            background : #FFF8;
            align-items: center;
            justify-content: center;
            // display: flex;
            backdrop-filter: blur(10px);
            gap: 1em;
            display: none;

            .btn {
                box-shadow: 0px 3px 10px -3px #0006;
                border-color: #0006;
            }
        }

        &:hover {
            .view-thumbnail-image {
                border-color: $color-blue-dark;
            }
            .view-thumbnail-title {
                color: $color-blue-dark;
            }
            // .thumbnail-buttons-overlay {
            //     display: flex;
            // }
        }
    }
}