@import "../../styles/variables.scss";

.explorer {
    gap: 1rem;

    .tree-column {
        flex: 1 0 16rem;
        margin: -1rem 0 0 -1.5rem;
    }

    .stage-column {
        flex: 1 1 75%;
        // background: orange;

        > .container {
            max-width: none;
        }
    }

    .tree {
        $fontSize: 16px;

        line-height: 1.4;
        white-space: nowrap;
        overflow   : scroll;
        height     : 100%;
        padding    : 1px 0;
        max-height : calc(100vh - 6rem);
        // width      : 18rem;
        // max-width  : 18rem;
        position: sticky;
        top: 6rem;
        // user-select: none;
        // box-shadow: 0 0 0 1px #0004;

        // > div {
        //     min-width: max-content;
        // }

        label {
            margin       : 0;
            text-indent  : 0;
            font-weight  : normal;
            padding      : 1px 6px 1px 0px;
            border-radius: 3px;
            overflow     : hidden;
            text-overflow: ellipsis;
            max-width    : 100%;
            flex         : 1;
            // -webkit-font-smoothing: subpixel-antialiased;
            // font-stretch: condensed;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            // font-weight: 300;
            // font-family: monospace;
            font-size: $fontSize;
            // line-height: 23px;
            // font-weight: 600;
            // font-variant-numeric: tabular-nums;
            // font-family: "Menlo", "Consolas", monospace;
            height: 1.6em;
            display: block;

            span {
                padding-left: 0.2em;
                padding-right: 0.2em;
            }

            .search-match {
                padding: 0;
            }

            &:hover {
                background: #0001;
                box-shadow: 0 0 1px 0 #0004 inset;
            }

            &.selected {
                background: rgb(218, 233, 248);
                box-shadow: 0 0 1px 0 #0006 inset;
            }
        }

        .details {
            

            .details {
                // position: sticky;
                // top: 0;
                // background: $color-grey-light;
                margin-left: 2.5rem;
                &.has-children {
                    margin-left: 1.4rem;
                }
            }
            summary {
                display: flex;
                padding: 1px 0.2em 1px 0;
                outline: none;
                align-items: center;

                // &::marker {
                //     color: transparent;
                //     font-size: 80%;
                // }

                .toggle {
                    
                    border-radius: 3px;
                    flex: 0 0 18px;
                    height: 18px;
                    line-height: 16px;
                    text-align: center;
                    // margin-right: 1px;
                    cursor: default;
                    // float: left;
                    // display: inline;
                    &:hover {
                        background: #FFF;
                        box-shadow: 0 0 0 1px #0002 inset;
                    }
                }
            }

            // &.has-children {
            //     > summary {
            //         &::marker {
            //             color: #666;
            //         }

            //         // label {
            //         //     font-weight: 500;
            //         // }
            //     }
            // }
        }

        // Root node(s)
        > .details {
            display: block;
            min-width: 100%;
        }

        .badge {
            margin: 3px 0.5em 2px;
            padding: 2px 6px;
            vertical-align: top;
        }

        .icon {
            font-size  : 23px !important;
            line-height: 1 !important;
            height     : 1em !important;
            width      : 1em !important;
            vertical-align: top;
            margin: 0 3px 0 0;
            color      : #7AC;
            overflow   : hidden;
            text-indent: 0;
            font-weight: 200;
            padding: 0;
            -webkit-font-smoothing: auto;
            &.color-blue { color: $color-blue; }
            &.color-brand-2 { color: $color-brand-2; }
        }

        .fas.fa-circle-notch.fa-spin {
            $m: calc((23px - $fontSize)/2);
            font-size  : $fontSize !important;
            height     : $fontSize !important;
            width      : $fontSize !important;
            line-height: $fontSize !important;
            // position: relative;
            margin: $m $m 0 0;
            // display: inline-block;
            // height     : 1em !important;
            // width      : 1em !important;
            vertical-align: top;
            overflow   : hidden;
            // margin: 0 3px 0 0;
            // text-indent: 0;
            // // font-weight: 200;
            // padding    : 0;
        }

        details {
            details {
                padding-left: 1.4em;
            }
        }
    }
}