@import "../../styles/variables.scss";

.log-viewer {
    white-space: pre;
    background-color: #FFF;
    padding: 4px 4px 4px 18px;
    // max-height: calc(100vh - 21rem);
    overflow: auto;
    border: 1px solid #CCC;
    margin: 0;
    line-height: 1.3;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    // flex: 0 1 auto;
    flex-grow: inherit;
    // max-height: fit-content;

    details {
        padding: 0 1px;
        
        &[open] {
            margin-bottom: 1em;
            box-shadow: -14px 0 0 1px #d6e8fc, 0 0 0 1px #d6e8fc;
            border-radius: 1px 0 0 1px;
            background-color: #f7fbff;
        }

        &.no-info {
            margin-bottom: 0;
            box-shadow: none;
            background-color: transparent;
        }
    }

    details > summary:first-of-type {
        list-style-position: outside;
        cursor: pointer;
        &::marker {
            color: #888;
        }
    }

    details.no-info > summary:first-of-type {
        list-style-type: none;
        cursor: unset;
    }

    summary div {
        display: inline-block;
        vertical-align: top;
    }

    .info {
        white-space: pre-wrap;
        padding-left: 1.4em;
        > * {
            display: list-item;
            list-style-type: circle;
        }
    }
}