@import "../../styles/variables.scss";


.data-grid {
    font-size: $font-size * 0.8;
    min-height: 4em;
    overflow: auto;
    position: relative;

    > table {
        min-width: 100%;
        table-layout: fixed;
        border-spacing: 0;
        border-collapse: collapse;
        background: #FFF;
        

        tbody {
            tr:hover {
                background: rgba(0, 0, 0, 0.05);
            }

            tr.selected {
                background: rgba(51, 102, 153, 0.2);
            }
        }

        thead {
            font-weight: bold;

            th {
                background: linear-gradient(#F9F9F9, #EEE);
                text-shadow: 0 1px 0 #FFF;
                position: relative;
                box-shadow: 0 0 0 0.5px #BBB inset;
                padding: 0.35em 1em 0.35em 0.5em;

                .fa-caret-down, .fa-caret-up {
                    position: absolute;
                    right: 4px;
                    top: 50%;
                    margin-top: -0.5em;
                    z-index: 2;
                }
            }
        }
        

        th, td {
            padding: 0.25em 0.5em;
            // max-width: 16em;
            // min-width: 10em;
            // width: auto;
            white-space: pre;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: default;
            text-align: left;
            box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.1) inset;

            &.selected {
                background: rgb(218, 233, 250);
            }
        }

        td {
            font-family: monospace;
        }
    }

    &.condensed {
        td, th {
            padding: 0.1em 0.4em;
        }
    }

    col.private {
        background: rgb(255, 248, 227);
    }
}

.data-grid-wrap {
    position: relative;
    border: 2px solid $color-grey;
}

.scrollbar {
    $size: 10px;

    width     : 4px;
    height    : auto;
    right     : 1px;
    left      : auto;
    top       : 1.55em;
    bottom    : 17px;
    overflow  : hidden;
    transition: all 0.2s linear 1s;
    position  : absolute;
    z-index   : 100;
    

    .scrollbar-btn {
        background   : rgba(0, 0, 0, 0.2);
        position     : absolute;
        box-shadow   : 0 0 0 1px rgba(100, 100, 100, 0.1) inset;
        height       : auto;
        left         : 0;
        right        : 0;
        bottom       : auto;
        border-radius: 2px;
        transition   : all 0.1s;

        &:hover {
            background: rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 0 1px rgba(100, 100, 100, 0.1) inset;
            width     : $size;
        }

        &:active {
            background: rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 0 0.5px rgba(100, 100, 100, 0.2) inset;
            width     : $size;
        }
    }

    &:hover, &:active {
        width     : $size;
        transition: all 0.2s;
    }
}
