#context-menu {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    pointer-events: none;

    &.open {
        width: 100%;
        height: 100%;
    }

    .menu {
        position      : fixed;
        background    : var(--color-window-bg-hard);
        border-radius : 3px;
        padding       : 4px;
        box-shadow    : 0 0 0 1px rgb(from var(--color-window-fg-hard) r g b / 0.3), 5px 5px 15px -5px #0008;
        opacity       : 0;
        transition    : opacity 0.2s;
        pointer-events: none;
        display       : none;

        &:focus, &:focus-visible {
            opacity       : 1;
            pointer-events: all;
            display       : block;
            outline       : 0 none;
        }
    }

    .menu-item {
        display    : block;
        padding    : 0.2em 0.8em 0.2em 0.2em;
        cursor     : default;
        white-space: nowrap;

        &:hover, &.selected {
            background   : var(--color-highlight);
            box-shadow   : 0 0 0 1px var(--color-highlight) inset;
            border-radius: 3px;
        }
        &.selected {
            background: var(--color-selection);
        }

        &.disabled {
            opacity: 0.6;
            pointer-events: none;
            filter: grayscale(1);
        }

        .menu-item-icon {
            display: inline-block;
            width: 1.4em;
            text-align: center;
            margin: 0 0.4em 0 0;
            opacity: 0.5;
        }
    }

    hr {
        background: var(--color-grey);
        border: 0;
        height: 1px;
        margin: 5px 0;

        &:first-child, &:last-child, & + & {
            display: none;
        }
    }

    .menu-header {
        font-weight  : bold;
        color        : #999;
        border-bottom: 1px solid var(--color-grey);
        margin       : 0 0 5px 0;
        padding      : 1px 0.8em 2px 0.8em;
        text-align   : center;
        font-size    : 90%;
        cursor       : default;
    }

    .menu-item + .menu-header {
        margin-top: 15px;
    }

    &:focus-within .menu {
        opacity: 1;
        pointer-events: all;
        display: block;
        outline: 0 none;
    }
}

