@import "../../../styles/variables.scss";

#context-menu {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    pointer-events: none;

    &.open {
        width: 100%;
        height: 100%;
    }

    .menu {
        position: fixed;
        background: #FFF;
        border-radius: 3px;
        padding: 4px;
        box-shadow: 0 0 0 1px #0003, 5px 5px 15px -5px #0008;
        opacity: 0;
        transition: opacity 0.2s;
        pointer-events: none;
        display: none;

        &:focus, &:focus-visible {
            opacity: 1;
            pointer-events: all;
            display: block;
            outline: 0 none;
        }
    }

    .menu-item {
        display: block;
        padding: 0.2em 0.8em 0.2em 0.2em;
        cursor: default;
        white-space: nowrap;

        &:hover, &.selected {
            background: linear-gradient(90deg, rgba(129, 171, 214, 0.3), rgba(129, 171, 214, 0.32));
            box-shadow: 0 0 0 1px rgba(91, 128, 165, 0.3) inset;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
            border-radius: 3px;
        }
        &.selected {
            background: linear-gradient(180deg, rgba(129, 171, 214, 0.4), rgba(129, 171, 214, 0.5));
        }

        &.disabled {
            opacity: 0.6;
            pointer-events: none;
            filter: grayscale(1);
        }

        .menu-item-icon {
            display: inline-block;
            width: 1.4em;
            text-align: center;
            margin: 0 0.4em 0 0;
            color: fade-out($color-blue-dark, 0.3);
        }
    }

    hr {
        background: #CCC;
        border: 0;
        height: 1px;
        margin: 5px 0;

        &:first-child, &:last-child, & + & {
            display: none;
        }
    }

    .menu-header {
        font-weight: bold;
        color: #666;
        border-bottom: 1px solid #DDD;
        margin: 0 0 5px 0;
        padding: 1px 0.8em 2px 0.8em;
        text-align: center;
        font-size: 90%;
        // background: #EEE;
        text-shadow: 0 1px 0 #FFF;
        cursor: default;
    }

    .menu-item + .menu-header {
        margin-top: 15px;
    }

    &:focus-within .menu {
        opacity: 1;
        pointer-events: all;
        display: block;
        outline: 0 none;
    }
}

