@use "./functions.scss";


@mixin button($color) {
    $bg: $color;
    $fg: functions.contrastForColor($color);
    $sh: functions.contrastForColor($fg);
    

    background-color: $bg;
    color           : $fg;
    padding         : 0.4em 0.8em;
    border          : 1px solid transparent;
    line-height     : inherit;
    font-size       : 1rem;
    font-weight     : inherit;
    border-radius   : var(--border-radius);
    text-align      : center;
    text-decoration : none !important;
    cursor          : pointer;
    display         : inline-flex;
    align-items     : center;
    justify-content : center;
    outline         : 0;
    white-space     : pre;
    user-select     : none;
    min-width       : 2em;
    margin          : 0;
    vertical-align  : middle;

    * {
        line-height    : inherit;
        font-size      : inherit;
    }
    
    &:hover {
        $bg: hsl(from $color h calc(s * 1.5) l);
        background-color: $bg;
        color: functions.contrastForColor(lch(from $color l calc(c * 1.01) h));
    }

    &:active {
        background-color: lch(from $color calc(l * 1.1) calc(c * 1.1) h);
    }
}

@mixin file-selector-button {
    -webkit-appearance: none;
    display           : inline-block;
    border            : none;
    border-radius     : calc(var(--border-radius) - 1);
    background        : var(--color-grey);
    color             : var(--color-window-fg);
    padding           : 0.2rem 0.5rem;
    margin            : -0.2rem 0.5em -0.2rem -0.5rem;
    vertical-align    : top;
    line-height       : var(--line-height);
}

@mixin disabled-file-selector-button {
    @include file-selector-button();
    background  : #8888;
    color       : var(--color-window-fg);
    text-shadow : 0 1px 0 var(--color-window-bg-soft);
    box-shadow  : 0 0 0 1px #8888 inset;
    opacity     : 0.5;
}

@mixin form-control() {
    background   : var(--color-window-bg-hard);
    border       : 1px solid var(--color-grey);
    border-radius: var(--border-radius);
    padding      : 0.4em 0.8em;
    outline      : none;
    font         : inherit;
    width        : 100%;
    line-height  : var(--line-height);
    color        : inherit;
    max-height   : calc((1rem * (var(--line-height) + 0.8)) + 2);
    margin: 0;
  
    &[readonly], &[aria-readonly] {
        color: rgb(from var(--color-window-fg-hard) r g b / 0.5);
        border-color: rgb(from var(--color-window-fg-hard) r g b / 0.3);
    }

    &:focus, &:focus-within, &:active {
        border-color: var(--color-blue-dark);
        box-shadow: 0 0 0 3px rgb(from var(--color-blue) r g b / 0.3);
    }
  
    &:invalid, &.invalid, &[aria-invalid="true"] {
        border-color: var(--color-red);
        &:focus {
            box-shadow: 0 0 0 3px rgb(from var(--color-red) r g b / 0.3);
        }
    }

    &:disabled {
        background-color: var(--color-window-bg-soft) !important;
        border-color: #8888;
        color       : #888;
        opacity     : 1;
        filter      : grayscale(1);
    }
}


input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="file"],
input[type="phone"],
input[type="number"],
input[type="date"],
select,
textarea,
.form-control {
    @include form-control();
}

input[type="search"] {
    border-radius: 10em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill-opacity='0.8' style='fill:grey' d='M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 18px;
    padding-left: 32px;
    max-width: 20em;
}

input[type="number"] {
    padding-right: 3px;
}

input[type="date"] {
    padding: 0.34em 3px;
    line-height: inherit;
}

input[type="color"] {
    border         : 1px solid #FFF8;
    box-shadow     : 0 0 0 1px #0000;
    background-clip: content-box !important;
    border-radius  : 0;
    outline        : 0;
    padding        : 0;
    margin         : 0px 2px;
    height         : 1.2em;
    width          : 1.2em;
    min-width      : 1.2em;
    line-height    : 1;
    align-self     : center;
    
    &::-webkit-color-swatch-wrapper {
        padding: 0;
        display: block;
        border-radius: 1px;
    }
    &::-webkit-color-swatch {
        display: block;
        height: 100%;
        border: 0;
        box-shadow: 0 0 0 1px #0008 inset;
    }
    &::-moz-color-swatch {
        padding: 0;
        display: block;
        margin: 0;
        border: 0;
        box-shadow: 0 0 0 1px #0008 inset;
    }

    &.empty::-webkit-color-swatch {
        box-shadow: 0 0 0 1px var(--color-window-fg) inset;
        background: linear-gradient(
            -45deg,
            var(--color-window-bg) 45%,
            var(--color-orange) 46%,
            var(--color-orange) 54%,
            var(--color-window-bg) 55%
        );
    }

    &.empty::-moz-color-swatch {
        box-shadow: 0 0 0 1px var(--color-window-fg) inset;
        background: linear-gradient(
            -45deg,
            var(--color-window-bg) 45%,
            var(--color-orange) 46%,
            var(--color-orange) 54%,
            var(--color-window-bg) 55%
        );
    }

    &:active, &:focus, &:focus-visible {
        box-shadow  : 0 0 0 1px var(--color-blue-dark);
        border-color: var(--color-window-bg-hard);
        position    : relative;
        z-index     : 3;

        &::-webkit-color-swatch {
            box-shadow: 0 0 0 1px #000 inset;
        }

        &::-moz-color-swatch {
            box-shadow: 0 0 0 1px #000 inset;
        }
    }

    &:disabled {
        opacity: 0.5;
        filter: grayscale(1);
    }

    .color-editor > &::-webkit-color-swatch {
        background-color: transparent !important;
    }
    .color-editor > &::-moz-color-swatch {
        background-color: transparent !important;
    }
}

::-webkit-calendar-picker-indicator {
    background-color: var(--color-grey);
    border-radius: 3px;
}

.color-editor {
    column-gap: 2px;
}

::-webkit-file-upload-button {
    @include file-selector-button();
}
::-ms-browse {
    @include file-selector-button();
}
::file-selector-button {
    @include file-selector-button();
}
:disabled::-webkit-file-upload-button {
    @include disabled-file-selector-button();
}
:disabled::-ms-browse {
    @include disabled-file-selector-button();
}
:disabled::file-selector-button {
    @include disabled-file-selector-button();
}
:disabled .file-input-value {
    background  : #EEE !important;
    color       : #888;
    text-shadow : 0 1px 0 #FFF;
}
fieldset:disabled * {
    color: #888;
}
::placeholder,
::-webkit-input-placeholder {
    color: #8888;
}

textarea {
    height: auto;
    resize: vertical;
    min-height: 2.1em;
    max-height: none;
}

select:not([size]), .select-component {
    background: var(--color-window-bg-hard) url(caret-down.svg) 100% center no-repeat;
    background-size: auto;
    padding-right: 22px;
    background-size: 22px 14px;
    appearance: none;
}

select[size] {
    padding: 1px;
    height: 100%;
    min-height: 100%;
}

select option {
    &[selected], &:checked {
        background: var(--color-blue);
        color: var(--color-window-bg-hard)
    }
}

select option.empty-option {
    color: #888;
}

input[type="checkbox"], input[type="radio"] {
    appearance    : none;
    width         : 1em;
    height        : 1em;
    display       : inline-block;
    vertical-align: middle;
    background    : var(--color-window-bg-hard);
    border        : 1px solid var(--color-grey);
    margin        : -1px 0 1px 0;

    &:hover, &:focus, &:focus-visible {
        border-color: var(--color-blue);
    }

    &:checked {
        background  : var(--color-blue);
        border-color: var(--color-blue);
    }

    &:disabled {
        border-color: var(--color-blue);
        background  : var(--color-grey);
        opacity     : 0.5;
        filter      : grayscale(1);
        &:checked::before {
            border-color: var(--color-blue);
            box-shadow: -0.5px 0.5px 0px 0 #FFF9;
        }
    }
}

input[type="checkbox"] {
    border-radius: 2px;

    &:checked::before {
        content: "";
        width: 0.4em;
        height: 0.2em;
        border-width: 2px;
        border-style: none none solid solid;
        border-color: transparent transparent #FFF #FFF;
        display: inline-block;
        vertical-align: top;
        margin: 0.2em 0 0 0.17em;
        transform: rotate(-50deg);
        box-shadow: -0.5px 0.5px 0px 0 var(--color-blue-dark);
    }
}

input[type="radio"] {
    border-radius: 10rem;

    &:checked {
        background  : var(--color-blue);
        border-color: var(--color-blue-dark);
        box-shadow  : 0 0 0 2px var(--color-window-bg-hard) inset;
    }
}

.btn {
    @include button(var(--color-window-bg-hard));
    border-color: rgb(from var(--color-window-fg-hard) r g b / 0.1)
}

.btn-blue {
    @include button(var(--color-blue));
}
.btn-blue-dark {
    @include button(var(--color-blue-dark));
}
.btn-green {
    @include button(var(--color-green));
}
.btn-brand-2 {
    @include button(var(--color-brand-2));
}

.btn-virtual {
    &:not(:hover,:focus) {
        background  : transparent;
        border-color: transparent;
        box-shadow: none;
        color: currentColor;
    }
}


.toolbar {
    background   : var(--color-grey);
    border-radius: calc(var(--border-radius) + 1px);
    white-space  : nowrap;
    margin       : -1px;
    display      : flex;
    color        : var(--color-window-fg-soft);

    .menu-button {
        display    : flex;
        align-items: center;
        flex       : 1 1 0;

        .menu-button-btn {
            border         : 0;
            margin         : -1px -1px -1px -4px;
            display        : flex;
            align-self     : stretch;
            align-items    : center;
            justify-content: center;
        }

        &:active, &:focus {
            .menu-button-btn {
                background: #8881;
                box-shadow: 0 3px 10px -2px #0002 inset;
            }
        }

        &:first-child .menu-button-btn {
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
            margin-left: 1px;
        }

        &:last-child .menu-button-btn {
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }
    }

    > .btn, .btn-blue, .btn-green, .btn-brand-2 {
        border       : 1px solid transparent;
        border-radius: 0;
        margin       : 1px 1px 1px 0;
        font-size    : inherit;
        display      : flex;
        flex         : 1 1 0;
        background   : var(--color-window-bg-hard);
        color        : currentColor;
        box-shadow   : none;

        &:active, &:focus {
            box-shadow: 0 0 0 1px var(0, 0, 0, 0.2);
        }

        &:focus-visible {
            outline: 1px dotted;
            outline-offset: -3px;
        }

        &.active:not(:disabled, .disabled) {
            background : var(--color-highlight);
            color      : var(--color-window-fg-hard);
            box-shadow : 0 0 0 1px var(--color-highlight);
            text-shadow: none;
        }

        &:first-child {
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
            margin-left: 1px;
        }

        &:last-child {
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }

        &.disabled, &[disabled] {
            background: var(--color-window-bg-hard);
            opacity: 1;
            color: var(--color-window-fg-soft);
            filter: grayscale(1);
        }
    }

    > .btn-blue {
        &.active:not(:disabled, .disabled) {
            background: var(--color-blue);
            color: functions.contrastForColor(var(--color-blue));
            box-shadow: 0 0 0 1px var(--color-blue-dark);
        }
    }
    > .btn-green {
        &.active:not(:disabled, .disabled) {
            background: var(--color-green);
            color: functions.contrastForColor(var(--color-green));
            box-shadow: 0 0 0 1px color-mix(in srgb, var(--color-window-fg-hard), var(--color-green) 65%);
        }
    }
    > .btn-brand-2 {
        &.active:not(:disabled, .disabled) {
            background: var(--color-brand-2);
            color: functions.contrastForColor(var(--color-brand-2));
            box-shadow: 0 0 0 1px color-mix(in srgb, var(--color-window-fg-hard), var(--color-brand-2) 75%);
        }
    }
    
    &.flex {
        display: flex;
        flex: 1 1 100%;

        .btn {
            display: flex;
            flex: 1 1 0;
            white-space: pre;
            min-width: auto;
            align-items: stretch;
        }
    }
}

label {
    padding: 0.6em 0 0.2em 0;

    + hr {
        margin-top: 0.4ex;
    }

    &.inline {
        padding: 0
    }
}

.tab-panel {

    position: relative;
    z-index: 2;
    border-bottom: 1px solid var(--color-grey);
    padding: 3px 0 0;
    text-shadow: 0 1px 0 var(--color-window-bg-hard);
    border-radius: 5px 5px 0 0;

    .tab {
        border-color : transparent;
        border-style : solid;
        border-width : 1px 1px 0 1px;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        padding: 0.2em 1em;
        margin: 0 0 -1px 4px;
        background: transparent;
        font-family: inherit;
        color: inherit;
        opacity: 0.65;
        cursor: pointer;
        font-weight: bold;
        display: inline-block;

        &.active {
            background: var(--color-window-bg-hard);
            border-color : var(--color-grey);
            opacity: 1;
            padding: 0.2em 1em;
        }

        &:focus-visible {
            outline: 1px dotted;
            outline-offset: -0.3em;
        }
    }

    &.bottom {

        box-shadow: 0 1px 0 0 var(--color-grey) inset;
        margin: -1px 0 0 0;

        .tab {
            border-width : 0 1px 1px 1px;
            border-radius: 0 0 var(--border-radius) var(--border-radius);
            padding: 0.3em 1em 0.2em 1em;
        }
    }
}

fieldset {
    margin: 0 0 1em;
    padding: 0;
    border: 0;

    &:disabled {
        label {
            color: #999
        }
    }
}


// Sliders ---------------------------------------------------------------------
$track-color: #e2e2e2 !default;

$thumb-radius     : 10px !default;
$thumb-height     : 20px !default;
$thumb-width      : 20px !default;
$thumb-shadow-size: 1px !default;
$thumb-shadow-blur: 4px !default;
$thumb-margin-top : -8px !default;
// $thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 1px !default;

$track-width       : 100% !default;
$track-height      : 6px !default;
// $track-shadow-size : 0px !default;
// $track-shadow-blur : 0px !default;
// $track-shadow-color: rgba(0, 0, 0, .2) !default;
$track-border-width: 1px !default;
$track-border-color: rgb(from var(--color-window-fg-hard) r g b / 0.1) !default;
$track-radius      : 5px !default;
$contrast          : 15% !default;

$ie-bottom-track-color: hsl(from $track-color h s calc(i - $contrast)) !default;


@mixin track {
  cursor: default;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  box-shadow: $thumb-shadow-size $thumb-shadow-size $thumb-shadow-blur #0003;
  background: var(--color-grey);
  border: $thumb-border-width solid rgb(from var(--color-window-fg-hard) r g b / 0.2);
  border-radius: $thumb-radius;
  box-sizing: border-box;
  cursor: default;
  height: $thumb-height;
  width: $thumb-width;
}

[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  margin: calc($thumb-height / 2) 0;
  width: $track-width;
  height: $track-height;

  &::-moz-focus-outer {
    border: 0;
  }

  &::-webkit-slider-runnable-track {
    @include track;
    background: var(--color-window-bg-soft);
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: $thumb-margin-top;
  }

  &::-moz-range-track {
    @include track;
    background: rgb(from var(--color-grey) r g b / 0.5);
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
    height: calc($track-height / 2);
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    border-width: calc($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: $ie-bottom-track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: calc($track-radius * 2);
  }

  &::-ms-fill-upper {
    background: var(--color-window-bg-soft);
    border: $track-border-width solid $track-border-color;
    border-radius: calc($track-radius * 2);
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: calc($track-height / 4);
  }

  &:focus, &:focus-within, &:focus-visible {
    outline: 0;

    &::-webkit-slider-thumb {
        background: var(--color-blue);
    }

    &::-webkit-slider-runnable-track {
      background: rgb(from var(--color-blue) r g b / 0.5);
    }

    &::-ms-fill-lower {
      background: var(--color-window-bg-soft);
    }

    &::-ms-fill-upper {
      background: hsl(from $track-color h s calc(i + $contrast));
    }
  }

  &:disabled {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb,
    &::-webkit-slider-runnable-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      cursor: not-allowed;
    }
  }
}

