@use "./grid.scss";
@use "./forms.scss";
@use "./tables.scss";
@use "./functions.scss";

@mixin darkTheme {
  body {
    --color-blue           : #33a1ff;
    --color-blue-dark      : #94bddf;
    --color-orange         : #ff8800;
    --color-red            : #FF4400;
    --color-grey           : #546678;
    --color-green          : #00CC00;
    --color-brand-2        : #D70;
    --color-highlight      : #6Af3;
    --color-selection      : #6Af6;
    --color-string         : #6C9;
    --color-integer        : #C03;
    --color-number         : #B70;
    --color-boolean        : #09A;
    --color-boolean-true   : #00b300;
    --color-boolean-false  : #D30;
    --color-date           : #A0F;
    --color-object         : #E0A;
    --color-array          : #0BB;
    --color-null           : #BBB;
    --color-window-bg-hard : #181c21;
    --color-window-bg      : #28313b;
    --color-window-bg-soft : #354250;
    --color-window-fg-soft : #abb7c2;
    --color-window-fg      : #d1dae2;
    --color-window-fg-hard : #FFF;
  }

  #catalog-chart, #flat-chart, #transmission-chart {
      filter: invert(1) hue-rotate(180deg);
      mix-blend-mode: screen;
  }
  .highcharts-tooltip-container {
      filter: invert(1) hue-rotate(180deg);
      mix-blend-mode: normal;
  }
  img {
      filter: invert(100%) hue-rotate(180deg);
      mix-blend-mode: screen;
  }

  .view-thumbnail-image img,
  .tooltip img {
      filter: none;//invert(100%) hue-rotate(180deg);
      // filter: grayscale(100%);//invert(100%) hue-rotate(180deg);
      mix-blend-mode: normal;
      border-radius: 5px;
  }

  .tooltip img {
    border: 1px solid #0002;
  }
}

@mixin lightTheme {
  body {
    --color-blue           : #4a90e2;
    --color-blue-dark      : #2467b4;
    --color-orange         : #f37820;
    --color-red            : #d41c1c;
    --color-grey           : #d1dae2;
    --color-green          : #009900;
    --color-brand-2        : #C60;
    --color-highlight      : #6Af3;
    --color-selection      : #6Af6;
    --color-string         : #393;
    --color-integer        : #A00;
    --color-number         : #A60;
    --color-boolean        : #06A;
    --color-boolean-true   : #00b300;
    --color-boolean-false  : #C00;
    --color-date           : #60A;
    --color-object         : #A0A;
    --color-array          : #0AA;
    --color-null           : #888;
    --color-window-bg-soft : #eeeeee;
    --color-window-bg      : #f8f8f7;
    --color-window-bg-hard : #FFF;
    --color-window-fg-soft : #657585;
    --color-window-fg      : #414e5c;
    --color-window-fg-hard : #1d2834;
  }

  #catalog-chart, #flat-chart, #transmission-chart {
      filter: none;
      mix-blend-mode: normal;
  }
  .highcharts-tooltip-container {
      filter: none;
      mix-blend-mode: normal;
  }
  img {
      filter: none;
      mix-blend-mode: normal;
  }

  .markdown {
    img {
      mix-blend-mode: multiply;
    }
  }

  .view-thumbnail-image img, .tooltip img {
      filter: none;
      mix-blend-mode: normal;
      border-radius: 5px;
  }

  .tooltip img {
    border: 1px solid #0002;
  }
}




* {
  box-sizing: border-box;
}

:root {
  --font-family   : "Helvetica Neue",Helvetica,Arial,sans-serif;
  --border-radius : 4px;
  --font-size     : 16px;
  --line-height   : 1.3;
  --gap           : 1rem;
  

  display         : block;
  min-height      : 100vh;
  font-size       : var(--font-size);
  line-height     : var(--line-height);
  font-family     : var(--font-family);
  background-color: var(--color-window-bg);
  color           : var(--color-window-fg);
}

body {
  margin: 0;
  background-color: var(--color-window-bg);
  color           : var(--color-window-fg);
  font-family     : var(--font-family);
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  @include darkTheme();
}

@media (prefers-color-scheme: light) {
  @include lightTheme();
}

:root, :root.light {
  @include lightTheme();
}

:root.dark {
  @include darkTheme();
}

.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}
.wrap {
  white-space: normal;
  flex-wrap: wrap;
  // word-break: keep-all;
}

.pull-right { float: right; }
.pull-left { float: left; }

h1 { font-size: 2rem;   margin: 1ex 0 0.5ex 0; line-break: anywhere; }
h2 { font-size: 1.8rem; margin: 1ex 0 0.5ex 0; line-break: anywhere; }
h3 { font-size: 1.6rem; margin: 1ex 0 0.5ex 0; line-break: anywhere; }
h4 { font-size: 1.4rem; margin: 1ex 0 0.5ex 0; line-break: anywhere; }
h5 { font-size: 1.2rem; margin: 1ex 0 0.5ex 0; line-break: anywhere; }
h6 { font-size: 1rem;   margin: 1ex 0 0.5ex 0; line-break: anywhere; }

br {
  display: block;
  margin: 0.5em 0;
}
p {
  margin: 0.5em 0 0;
}

.small {
  font-size: 80%;
}

code, pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
  font-size: 90%;
}

code:not(pre code) {
  background: rgb(from color-mix(in srgb, var(--color-brand-2) 50%, var(--color-window-bg)) r g b / 0.2);
  color: color-mix(in srgb, var(--color-brand-2) 50%, var(--color-window-fg-hard));
  padding: 1px 1px;
  border: 1px solid rgb(from color-mix(in srgb, var(--color-brand-2) 50%, var(--color-window-fg)) r g b / 0.1);
  margin: -1px;
  border-radius: 3px;
  vertical-align: baseline;
}

label {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    .color-muted {
      text-decoration: none !important;
    }
  }
}

b, .bold {
  font-weight: bold;
}

.link {
  color: var(--color-blue);
  cursor: pointer;
  appearance: none;
  background: initial;
  margin: initial;
  padding: initial;
  border: 0;
  line-break: anywhere;

  &:hover {
    text-decoration: underline 1px solid;
    text-decoration-color: rgb(from var(--color-brand-2) r g b / 0.75);
    text-underline-offset: 2px;
  }
}

.underline {
  text-decoration: underline;
}

.icon {
  &.material-symbols-outlined {
    font-size: 1.3em;
    line-height: 1;
    vertical-align: middle;
    overflow: visible;
    margin-top: -0.2em;
    margin-bottom: -0.1em;
    &.big {
      font-size: 1.6em;
    }
  }
}

// Colors ----------------------------------------------------------------------
.color-blue       { color: var(--color-blue)       }
.color-blue-dark  { color: var(--color-blue-dark)  }
.color-orange     { color: var(--color-orange)     }
.color-red        { color: var(--color-red)        }
.color-grey       { color: var(--color-grey)       }
.color-green      { color: var(--color-green)      }
.color-brand-2    { color: var(--color-brand-2)    }
.color-muted      { color: rgb(from var(--color-window-fg) r g b / 0.5) }
.color-soft       { color: var(--color-window-fg-soft) } 

.bg-blue       { background-color: rgb(from var(--color-blue) r g b / 0.1) }
.bg-orange     { background-color: rgb(from var(--color-orange) r g b / 0.1) }
.bg-red        { background-color: rgb(from var(--color-red ) r g b / 0.1) }
.bg-grey       { background-color: rgb(from var(--color-grey) r g b / 0.2) }
.bg-green      { background-color: rgb(from var(--color-green) r g b / 0.1) }
.bg-brand-2    { background-color: rgb(from var(--color-brand-2) r g b / 0.1) }
.bg-white      { background-color: var(--color-window-bg-hard); }
// .bg-muted      { background-color; 0.65 } 

// Paddings --------------------------------------------------------------------
.p-0  { padding: 0;                           }
.p-05 { padding: calc(var(--gap) * 0.5);      }
.p-1  { padding: var(--gap);                  }
.p-2  { padding: calc(var(--gap) * 2);        }
.p-3  { padding: calc(var(--gap) * 3);        }
.pt-0 { padding-top: 0;                       }
.pb-05{ padding-top: calc(var(--gap) / 2);    }
.pt-1 { padding-top: var(--gap);              }
.pt-2 { padding-top: calc(var(--gap) * 2);    }
.pt-3 { padding-top: calc(var(--gap) * 3);    }
.pr-0 { padding-right: 0;                     }
.pr-05{ padding-right: calc(var(--gap) / 2);  }
.pr-1 { padding-right: var(--gap);            }
.pr-2 { padding-right: calc(var(--gap) * 2);  }
.pr-3 { padding-right: calc(var(--gap) * 3);  }
.pb-0 { padding-bottom: 0;                    }
.pb-05{ padding-bottom: calc(var(--gap) / 2); }
.pb-1 { padding-bottom: var(--gap);           }
.pb-2 { padding-bottom: calc(var(--gap) * 2); }
.pb-3 { padding-bottom: calc(var(--gap) * 3); }
.pl-0 { padding-left: 0;                      }
.pl-05{ padding-left: calc(var(--gap) / 2);   }
.pl-1 { padding-left: var(--gap);             }
.pl-2 { padding-left: calc(var(--gap) * 2);   }
.pl-3 { padding-left: calc(var(--gap) * 3);   }

// // Margins ---------------------------------------------------------------------
.m-0  { margin: 0;                           }
.m-05 { margin: calc(var(--gap) * 0.5);      }
.m-1  { margin: var(--gap);                  }
.m-2  { margin: calc(var(--gap) * 2);        }
.m-3  { margin: calc(var(--gap) * 3);        }
.mt-0 { margin-top: 0;                       }
.mt-05{ margin-top: calc(var(--gap) / 2);    }
.mt-1 { margin-top: var(--gap);              }
.mt-2 { margin-top: calc(var(--gap) * 2);    }
.mt-3 { margin-top: calc(var(--gap) * 3);    }
.mr-0 { margin-right: 0;                     }
.mr-05{ margin-right: calc(var(--gap) / 2);  }
.mr-1 { margin-right: var(--gap);            }
.mr-2 { margin-right: calc(var(--gap) * 2);  }
.mr-3 { margin-right: calc(var(--gap) * 3);  }
.mb-0 { margin-bottom: 0;                    }
.mb-05{ margin-bottom: calc(var(--gap) / 2); }
.mb-1 { margin-bottom: var(--gap);           }
.mb-2 { margin-bottom: calc(var(--gap) * 2); }
.mb-3 { margin-bottom: calc(var(--gap) * 3); }
.ml-0 { margin-left: 0;                      }
.ml-05{ margin-left: calc(var(--gap) / 2);   }
.ml-1 { margin-left: var(--gap);             }
.ml-2 { margin-left: calc(var(--gap) * 2);   }
.ml-3 { margin-left: calc(var(--gap) * 3);   }

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }
.top    { vertical-align: top; }
.middle { vertical-align: middle; }
.bottom { vertical-align: bottom; }

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr {
  height: 2px;
  border: none;
  background: var(--color-grey);
  margin: 2px 0;

  &.small {
    height: 1px;
  }

  &.dashed {
    background: transparent;
    border-bottom: 1.5px dashed var(--color-grey);
    height: 0;
    &.small {
      border-bottom-width: 1px;
    }
  }

  

  &.color-blue       { background: linear-gradient(90deg, transparent, var(--color-blue      ), transparent); }
  &.color-blue-dark  { background: linear-gradient(90deg, transparent, var(--color-blue-dark ), transparent); }
  &.color-orange     { background: linear-gradient(90deg, transparent, var(--color-orange    ), transparent); }
  &.color-red        { background: linear-gradient(90deg, transparent, var(--color-red       ), transparent); }
  &.color-grey       { background: linear-gradient(90deg, transparent, var(--color-grey      ), transparent); }
  &.color-green      { background: linear-gradient(90deg, transparent, var(--color-green     ), transparent); }
  &.color-brand-2    { background: linear-gradient(90deg, transparent, var(--color-brand-2   ), transparent); }
}

ul {
  margin: 0 0 0 0;
  padding: 0 0 0 1em;

  li {
    margin: 1em 0;
    padding: 0;
  }
}

.markdown {
  li {
    margin: 0;
  }
  pre {
    background   : #FFFC;
    border-radius: 0.25rem;
    padding      : 0.25rem;
    border       : 1px solid #0002;
  }
}

.icon-list {
  padding: 0;
  margin : 0 0 2em 0;

  li {
    list-style: none;
    position  : relative;
    margin    : 0;
    padding   : 0 1em;
  }
}

.icon-item {
    position: relative;
    padding: 0.5em 0.5em 0.5em 2.4em;
    display: inline-block;

    > .icon {
        position  : absolute;
        left      : 0.5em;
        color     : #999;

        .material-symbols-outlined {
          font-size: 1.75rem;
          line-height: 1.70rem;
        }

        .icon {
          text-align: left;
          margin-left      : -0.2em;
        }

        &.color-green {
          color: var(--color-green);
        }
        
        &.color-orange {
          color: var(--color-orange);
        }

        .color-blue {
          color      : rgb(from var(--color-blue-dark) r g b / 0.75);
          text-shadow: 0px 0px 1.5px var(--color-window-bg-hard);
        }

        .star {
            position  : relative;
            z-index   : 2;
            font-size : 0.78rem;
            top       : -1.5em;
            left      : -2.6em;
            padding   : 3px;
        }
    }
}

.star {
  color: orange;
  text-shadow: 0px 0px 0.75px #000, 2px 3px 0px #0001;
}

.link-list {
  a.icon-item {
    display: block;
    border-radius: 4px;
    word-wrap: break-word;

    &:hover {
      background: var(--color-highlight);
      box-shadow: 0 0 0 1px var(--color-highlight) inset;
    }
  }
}

#chart {
  border: 2px solid var(--color-grey);
  border-radius: 5px;
  // width: 100%;
  box-sizing: content-box;
  outline: 0;
}

.grey-out, [aria-disabled="true"] {
  pointer-events: none;
  filter: grayscale(1) opacity(0.6);
  // cursor: not-allowed;
  user-select: none;
  transition: all 0.4s ease-in-out 0.1s;
}

.string {
  color: var(--color-string);
}
.integer {
  color: var(--color-integer);
}
.float, .number {
  color: var(--color-number);
}
.boolean {
  color: var(--color-boolean);
}
.boolean-true {
  color: var(--color-boolean-true);
}
.boolean-false {
  color: var(--color-boolean-false);
}
.date, .date\:YYYY-MM-DD, .date\:YYYY-MM, .date\:YYYY {
  color: var(--color-date);
}
.object {
  color: var(--color-object);
}
.array {
  color: var(--color-array);
}
.null {
  font-weight: bold;
  color: var(--color-null);
}

.badge {
  $bg: color-mix(in srgb, var(--color-window-fg), var(--color-window-bg));
  $fg: functions.contrastForColor($bg);
  $sh: rgb(from functions.contrastForColor($fg) r g b / 0.3);
  background    : $bg;
  color         : $fg;
  border-radius : 100px;
  padding       : 0.2em 0.4em;
  line-height   : 1;
  display       : inline-block;
  font-weight   : normal !important;
  min-width     : 1.4em;
  text-align    : center;
  font-size     : 0.8em;
  vertical-align: middle;
  margin        : -0.1em 0 0 0;
  font-weight   : bold;
  text-shadow: 0 0 1px $sh;

  &.bg-blue       { background-color: var(--color-blue); color: functions.contrastForColor(var(--color-blue))}
  &.bg-orange     { background-color: var(--color-orange); color: functions.contrastForColor(var(--color-orange))}
  &.bg-red        { background-color: var(--color-red); color: functions.contrastForColor(var(--color-red))}
  &.bg-grey       { background-color: var(--color-grey); color: functions.contrastForColor(var(--color-grey))}
  &.bg-green      { background-color: var(--color-green); color: functions.contrastForColor(var(--color-green))}
  &.bg-brand-2    { background-color: var(--color-brand-2); color: functions.contrastForColor(var(--color-brand-2))}
}

img {
  max-width: 100%;
}


.search-match {
  background: rgba(255, 222, 0, 0.76);
  box-shadow: 0 0 1px 0 rgb(0, 0, 0, 0.5) inset;
  border-radius: 2px;
  color: #000;
  text-shadow: 0 1px 0 #fff8;
}

#root {
  min-height: 100vh;
}

#main {
  padding: 1em;
  min-height: calc(100vh - 6rem);
}

.panel {
  border: 1px solid var(--color-window-bg-soft);
  background: var(--color-window-bg-hard);
  border-radius: 0.5rem;
  padding: 2rem;

  &.panel-danger {
    border-color: var(--color-brand-2);
    box-shadow: 0 0 0 0.4em rgb(from var(--color-brand-2) r g b / 0.2);
  }

  > h3, > h4 {
      margin-top: 0;
  }
}

.material-symbols-rounded, .material-icons, .material-icons-round {
  font-size: 130% !important;
  line-height: 0.9em !important;
  vertical-align: text-bottom;
  width: 1em;
  text-indent: 0 !important;
  overflow: hidden;
}

.material-symbols-outlined {
  text-indent: 0 !important;
  overflow: hidden;
  width: 1em;
}
