@use "sass:math";
@import "./variables.scss";
@import "./grid.scss";
@import "./forms.scss";

* {
  box-sizing: border-box;
}

:root {
  display   : block;
  min-height: 100vh;
}

html {
  font-size  : $font-size;
  line-height: $line-height;
}

body {
  margin: 0;
  background-color: $color-grey-light;
  color: $color-grey-dark;
  font-family: $font-family;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-font-smoothing: 
}

.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}
.wrap {
  white-space: normal;
  flex-wrap: wrap;
  // word-break: keep-all;
}

.pull-right { float: right; }
.pull-left { float: left; }

h1 { font-size: 2rem;   margin: 1ex 0 0.5ex 0; line-break: anywhere; }
h2 { font-size: 1.8rem; margin: 1ex 0 0.5ex 0; line-break: anywhere; }
h3 { font-size: 1.6rem; margin: 1ex 0 0.5ex 0; line-break: anywhere; }
h4 { font-size: 1.4rem; margin: 1ex 0 0.5ex 0; line-break: anywhere; }
h5 { font-size: 1.2rem; margin: 1ex 0 0.5ex 0; line-break: anywhere; }
h6 { font-size: 1rem;   margin: 1ex 0 0.5ex 0; line-break: anywhere; }

br {
  display: block;
  margin: 0.5em 0;
}
p {
  margin: 0.5em 0 0;
}

.small {
  font-size: 80%;
}

code, pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
  font-size: 90%;
}

code:not(pre code) {
  background: #C001;
  color: #A00;
  padding: 1px 1px;
  border: 1px solid #9002;
  margin: -1px;
  border-radius: 3px;
  vertical-align: baseline;
}

label {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    .color-muted {
      text-decoration: none !important;
    }
  }
}

b, .bold {
  font-weight: bold;
}

.link {
  color: #36C;
  cursor: pointer;
  appearance: none;
  background: initial;
  margin: initial;
  padding: initial;
  border: 0;
  line-break: anywhere;

  &:hover {
    text-decoration: underline 1px solid;
    text-decoration-color: fade-out($color-brand-2, 0.25);
    text-underline-offset: 2px;
  }
}

.underline {
  text-decoration: underline;
}

.icon {
  &.material-symbols-outlined {
    font-size: 1.3em;
    line-height: 1;
    vertical-align: middle;
    overflow: visible;
    margin-top: -0.2em;
    margin-bottom: -0.1em;
    &.big {
      font-size: 1.6em;
    }
  }
}

// Colors ----------------------------------------------------------------------
.color-blue       { color: $color-blue       }
.color-blue-dark  { color: $color-blue-dark  }
.color-orange     { color: $color-orange     }
.color-red        { color: $color-red        }
.color-grey-light { color: $color-grey-light }
.color-grey       { color: $color-grey       }
.color-grey-dark  { color: $color-grey-dark  }
.color-green      { color: $color-green      }
.color-brand-2    { color: $color-brand-2    }
.color-muted      { opacity: 0.65 } 

.bg-blue       { background-color: fade-out($color: $color-blue      , $amount: 0.9) }
.bg-orange     { background-color: fade-out($color: $color-orange    , $amount: 0.9) }
.bg-red        { background-color: fade-out($color: $color-red       , $amount: 0.9) }
.bg-grey-light { background-color: fade-in( $color: $color-grey-light, $amount: 0.1) }
.bg-grey       { background-color: fade-in( $color: $color-grey      , $amount: 0.1) }
.bg-grey-dark  { background-color: fade-out($color: $color-grey-dark , $amount: 0.9) }
.bg-green      { background-color: fade-out($color: $color-green     , $amount: 0.9) }
.bg-brand-2    { background-color: fade-out($color: $color-brand-2   , $amount: 0.9) }
.bg-white      { background-color: #FFF }
// .bg-muted      { background-color; 0.65 } 

// Paddings --------------------------------------------------------------------
.p-0  { padding: 0;               }
.p-05 { padding: $gap * 0.5;      }
.p-1  { padding: $gap;            }
.p-2  { padding: $gap * 2;        }
.p-3  { padding: $gap * 3;        }
.pt-0 { padding-top: 0;           }
.pb-05{ padding-top: math.div($gap, 2); }
.pt-1 { padding-top: $gap;        }
.pt-2 { padding-top: $gap * 2;    }
.pt-3 { padding-top: $gap * 3;    }
.pr-0 { padding-right: 0;         }
.pr-05{ padding-right: math.div($gap, 2); }
.pr-1 { padding-right: $gap;      }
.pr-2 { padding-right: $gap * 2;  }
.pr-3 { padding-right: $gap * 3;  }
.pb-0 { padding-bottom: 0;        }
.pb-05{ padding-bottom: math.div($gap, 2); }
.pb-1 { padding-bottom: $gap;     }
.pb-2 { padding-bottom: $gap * 2; }
.pb-3 { padding-bottom: $gap * 3; }
.pl-0 { padding-left: 0;          }
.pl-05{ padding-left: math.div($gap, 2); }
.pl-1 { padding-left: $gap;       }
.pl-2 { padding-left: $gap * 2;   }
.pl-3 { padding-left: $gap * 3;   }

// Margins ---------------------------------------------------------------------
.m-0  { margin: 0;                }
.m-05 { margin: $gap * 0.5;       }
.m-1  { margin: $gap;             }
.m-2  { margin: $gap * 2;         }
.m-3  { margin: $gap * 3;         }
.mt-0 { margin-top: 0;            }
.mt-05{ margin-top: math.div($gap, 2); }
.mt-1 { margin-top: $gap;         }
.mt-2 { margin-top: $gap * 2;     }
.mt-3 { margin-top: $gap * 3;     }
.mr-0 { margin-right: 0;          }
.mr-05{ margin-right: math.div($gap, 2); }
.mr-1 { margin-right: $gap;       }
.mr-2 { margin-right: $gap * 2;   }
.mr-3 { margin-right: $gap * 3;   }
.mb-0 { margin-bottom: 0;         }
.mb-05{ margin-bottom: math.div($gap, 2); }
.mb-1 { margin-bottom: $gap;      }
.mb-2 { margin-bottom: $gap * 2;  }
.mb-3 { margin-bottom: $gap * 3;  }
.ml-0 { margin-left: 0;           }
.ml-05{ margin-left: math.div($gap, 2); }
.ml-1 { margin-left: $gap;        }
.ml-2 { margin-left: $gap * 2;    }
.ml-3 { margin-left: $gap * 3;    }

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }
.top    { vertical-align: top; }
.middle { vertical-align: middle; }
.bottom { vertical-align: bottom; }

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr {
  height: 2px;
  border: none;
  background: $color-grey;
  margin: 2px 0;

  &.dashed {
    border-bottom: 1.5px dashed #BBB;
    box-shadow: 0 1px 0 0 #FFF;
    height: 0;
  }

  &.small {
    height: 1px;
  }

  &.color-blue       { background: linear-gradient(90deg, transparent, $color-blue      , transparent); }
  &.color-blue-dark  { background: linear-gradient(90deg, transparent, $color-blue-dark , transparent); }
  &.color-orange     { background: linear-gradient(90deg, transparent, $color-orange    , transparent); }
  &.color-red        { background: linear-gradient(90deg, transparent, $color-red       , transparent); }
  &.color-grey-light { background: linear-gradient(90deg, transparent, $color-grey-light, transparent); }
  &.color-grey       { background: linear-gradient(90deg, transparent, $color-grey      , transparent); }
  &.color-grey-dark  { background: linear-gradient(90deg, transparent, $color-grey-dark , transparent); }
  &.color-green      { background: linear-gradient(90deg, transparent, $color-green     , transparent); }
  &.color-brand-2    { background: linear-gradient(90deg, transparent, $color-brand-2   , transparent); }
}

ul {
  margin: 0 0 0 0;
  padding: 0 0 0 1em;

  li {
    margin: 1em 0;
    padding: 0;
  }
}

.markdown {
  li {
    margin: 0;
  }
  pre {
    background   : #FFFC;
    border-radius: 0.25rem;
    padding      : 0.25rem;
    border       : 1px solid #0002;
  }
}

.icon-list {
  padding: 0;
  margin : 0 0 2em 0;

  li {
    list-style: none;
    position  : relative;
    margin    : 0;
    padding   : 0 1em;
  }
}

.icon-item {
    position: relative;
    padding: 0.5em 0.5em 0.5em 2.4em;
    display: inline-block;

    > .icon {
        position  : absolute;
        left      : 0.5em;
        color     : #999;

        .material-symbols-outlined {
          font-size: 1.75rem;
          line-height: 1.70rem;
        }

        .icon {
          text-align: left;
          margin-left      : -0.2em;
        }

        &.color-green {
          color: $color-green;
        }
        
        &.color-orange {
          color: $color-orange;
        }

        .color-blue {
          color      : rgb(122, 162, 202);
          text-shadow: 0px 0px 1.5px #FFF;
        }

        .star {
            position  : relative;
            z-index   : 2;
            font-size : 0.78rem;
            top       : -1.5em;
            left      : -2.6em;
            padding   : 3px;
        }
    }
}

.star {
  color: orange;
  text-shadow: 0px 0px 0.75px #000, 2px 3px 0px #0001;
}

.link-list {
  a.icon-item {
    display: block;
    border-radius: 4px;
    word-wrap: break-word;

    &:hover {
      background: lighten($color: $color-blue, $amount: 36%);
      box-shadow: 0 0 0 1px lighten($color: $color-blue, $amount: 30%) inset;
    }
  }
}

#chart {
  border: 2px solid $color-grey;
  border-radius: 5px;
  // width: 100%;
  box-sizing: content-box;
}

.grey-out, [aria-disabled="true"] {
  pointer-events: none;
  filter: grayscale(1) opacity(0.6);
  // cursor: not-allowed;
  user-select: none;
  transition: all 0.4s ease-in-out 0.1s;
}

.string {
  color: #393
}
.integer {
  color: #A00
}
.float, .number {
  color: #A60
}
.boolean {
  color: #06A
}
.boolean-true {
  color: #00b300
}
.boolean-false {
  color: #C00
}
.date, .date\:YYYY-MM-DD, .date\:YYYY-MM, .date\:YYYY {
  color: #60A
}
.object {
  color: #A0A
}
.array {
  color: #0AA
}
.null {
  font-weight: bold;
  color: #888;
}

.badge {
  background    : rgba(0, 0, 0, 0.4);
  color         : #FFF;
  border-radius : 100px;
  padding       : 0.15em 0.4em 0.1em;
  line-height   : 1;
  display       : inline-block;
  font-weight   : normal;
  min-width     : 1.4em;
  text-align    : center;
  font-size     : 76%;
  vertical-align: middle;
  margin        : -0.2em 0 0 0;
  font-weight   : bold;

  &.bg-blue       { background-color: $color-blue       }
  &.bg-orange     { background-color: $color-orange     }
  &.bg-red        { background-color: $color-red        }
  &.bg-grey-light { background-color: $color-grey-light }
  &.bg-grey       { background-color: $color-grey       }
  &.bg-grey-dark  { background-color: $color-grey-dark  }
  &.bg-green      { background-color: $color-green      }
  &.bg-brand-2    { background-color: $color-brand-2    }
}

img {
  max-width: 100%;
}

table {
  width: 100%;
  td, th {
    text-align: initial;
    vertical-align: baseline;
  }
}


.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  th {
    font-weight: 500;
  }  
  
  td, th {
      padding: 0.5em 0.5em;
  }


  &.table-border {
      td, th {
          border: 0.5px solid #0001;
      }
  }

  // &.table-hover {
  //     tbody tr:hover {
  //         background: var(--color-highlight);
  //     }
  // }
}

.table-hover tbody tr:hover {
  background-color: #9CF3;
}

.table-border-x {
  td, th {
      border-bottom: 0.5px solid #0001;
      border-top: 0.5px solid #0001;
  }

  thead:first-of-type {
    td, th {
        // border-bottom: 0.5px solid #0001;
        border-top: 0;
    }
  }
  // tr:last-of-type {
  //   td, th {
  //       border-bottom: 0;
  //   }
  // }
}

.table-fixed {
  table-layout: fixed;
}

.table-condensed {
  td, th {
      padding: 0.25em;
  }   
}

.table-responsive {
  display: grid;
  overflow: auto;
}

.search-match {
  background: rgba(255, 222, 0, 0.76);
  box-shadow: 0 0 1px 0 rgb(0, 0, 0, 0.5) inset;
  border-radius: 2px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}

#root {
  min-height: 100vh;
}

#main {
  padding: 1em;
  min-height: calc(100vh - 6rem);
}

.panel {
  border: 1px solid #0001;
  // background: #FFF;
  border-radius: 0.5rem;
  padding: 2rem;

  &.panel-danger {
    border-color: fade-out($color-brand-2, 0.5);
    box-shadow: 0 0 0 0.4em fade-out($color-brand-2, 0.9);
  }

  > h3, > h4 {
      margin-top: 0;
  }
}

.material-symbols-rounded, .material-icons, .material-icons-round {
  font-size: 130% !important;
  line-height: 0.9em !important;
  vertical-align: text-bottom;
  width: 1em;
  text-indent: 0 !important;
  overflow: hidden;
}

.material-symbols-outlined {
  text-indent: 0 !important;
  overflow: hidden;
  width: 1em;
}
