$color-blue      : #4a90e2;
$color-orange    : #f37820;
$color-red       : #d41c1c;
$color-grey-light: #f8f8f7;
$color-grey      : #d1dae2;
$color-grey-dark : #414e5c;
$color-green     : #52b421;
$color-brand-2   : #C60;


$border-radius: 4px;
$font-size: 16px;
$line-height: 1.3;
$gap: $font-size;