$color-blue      : #4a90e2;
$color-orange    : #f37820;
$color-grey-light: #f8f8f8;
$color-grey      : #d1dae2;
$color-grey-dark : #414e5c;
$color-green     : #6bba43;

$gap: 1rem;

$border-radius: 4px;
$font-size: 18px;
$line-height: 1.4;