.alert {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0.5em 1em 0.5em 2em;
    white-space: pre-wrap;
    position: relative;
    text-shadow: 0 1px 0 var(--color-window-bg);
    word-break: normal;
    font-family: monospace;
    font-size: 85%;
    line-height: 1.2;

    &.small {
        font-size: 75%;
    }
  
    > .icon {
        position: absolute;
        width: 1em;
        text-align: center;
        top: 0.55em;
        left: 0.65em;
    }
  
    &.alert-blue {
        &, * { color: var(--color-blue-dark); }
        border-color: rgb(from var(--color-blue) r g b / 0.2);
        background: rgb(from var(--color-blue) r g b / 0.2);
    }

    &.alert-orange {
        &, * { color: color-mix(in srgb, var(--color-orange) 70%, var(--color-window-fg)); }
        border-color: rgb(from var(--color-orange) r g b / 0.2);
        background: rgb(from var(--color-orange) r g b / 0.2);
    }

    &.alert-red {
        &, * { color: color-mix(in srgb, var(--color-red) 80%, var(--color-window-fg)); }
        border-color: rgb(from var(--color-red) r g b / 0.2);
        background: rgb(from var(--color-red) r g b / 0.2);
    }

    &.alert-grey {
        &, * { color: color-mix(in srgb, var(--color-grey) 40%, var(--color-window-fg)) }
        border-color: rgb(from var(--color-grey) r g b / 0.4);
        background: rgb(from var(--color-grey) r g b / 0.3);
    }
    
    &.alert-green {
        &, * { color: color-mix(in srgb, var(--color-green) 70%, var(--color-window-fg)); }
        border-color: rgb(from var(--color-green) r g b / 0.2);
        background: rgb(from var(--color-green) r g b / 0.2);
    }
}
