.type-ahead-component {
    position       : relative;
    user-select    : none;
    text-align     : left;
    display        : inline-block;
    background     : url(../../../styles/caret-down.svg) 100% center no-repeat;
    background-size: 22px 14px;

    &:after {
        content  : "▾";
        position : absolute;
        right    : 0;
        top      : 50%;
        width    : 1em;
        padding  : 1px;
        transform: translate(-1px, -50%);
        font-size: 14px;
        color    : rgb(from var(--color-window-fg-hard) r g b / 0.3);
    }

    .type-ahead-component-value {
        position: relative;
        padding-right: 1.4em;
    }

    .select-component-placeholder {
        color: #999;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .select-component-menu {
        position     : absolute;
        z-index      : 1000;
        top          : 100%;
        left         : 1px;
        right        : 1px;
        margin-top   : 1px;
        padding      : 2px;
        border-radius: 3px;
        background   : var(--color-window-bg-hard);
        box-shadow   : 0 0 0 1px rgb(from var(--color-window-fg-hard) r g b / 0.3), 0px 5px 10px -5px rgba(0, 0, 0, 0.5);
        display      : none;
        
        .select-component-menu-wrap {
            max-height: 40vh;
            overflow  : auto;
        }

        &.open {
            display: block;
        }
    }

    .select-component-group {
        margin: 0 0 0.5em;
    }

    .select-component-group-label {
        padding       : 0.25em 2px;
        font-weight   : 500;
        font-size     : 0.9em;
        border-bottom : 1px solid var(--color-grey);
        color         : var(--color-grey-dark);
        opacity       : 0.75;
        margin-bottom : 0.25em;
        text-transform: uppercase;
        font-size     : smaller;

        .fa {
            margin: 0 0.4em 0 0.2em;
        }
    }

    .select-component-option {
        padding      : 0.2em 12px;
        white-space  : pre;
        cursor       : default;
        border-radius: 2px;
        position     : relative;
        overflow     : hidden;
        text-overflow: ellipsis;
        font-family  : monospace;
        font-size    : 0.84em;

        &:hover {
            background: var(--color-highlight);
            box-shadow: 0 0 0 1px var(--color-highlight) inset;
        }

        &.selected {
            background: var(--color-selection);
            box-shadow: 0 0 0 1px var(--color-highlight) inset;
        }

        &.disabled {
            color: #999;
            pointer-events: none;
        }
    }

    .select-component-group .select-component-option {
        margin-left: 1em;
    }
}