@import "../../styles/variables.scss";

.navigation {
    background : #e8e8e8;
    // font-size  : 1.3rem;
    width      : 16rem;
    // font-weight: 500;
    box-shadow : -1px 0 0 0 rgba(0, 0, 0, 0.1) inset;
    // font-family: Arial, "Open Sans", sans-serif;
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    // font-family: 'Arial Narrow', Arial, sans-serif;
    // font-family: 'Arial Narrow', sans-serif;
    white-space: nowrap;
    transition : width 0.2s ease-out;
    margin     : -1rem 1rem -1rem -1rem;
    position   : sticky;
    top        : 4rem;
    max-height : calc(100vh - 4rem);
    overflow   : auto;
    white-space: nowrap;
    padding    : 1rem 0;

    label {
        display      : inline-block;
        margin       : 0;
        padding      : 0;
        max-width    : calc(100% - 6rem);
        white-space  : nowrap;
        text-overflow: ellipsis;
        overflow     : hidden;
        font-weight  : 500;
        // color        : #414e5c;
    }

    a, .link {
        display        : block;
        height         : 2.2rem;
        line-height    : 2.2rem;
        color          : inherit;
        text-decoration: none;
        overflow       : hidden;
        padding        : 0 0.1rem;
        

        .icon {
            width      : 1.6rem;
            height     : 1.6rem;
            line-height: 1.6rem;
            text-align : center;
            float      : left;
            margin     : 0.3rem 0.3rem 0.3rem 0.2rem;
            // opacity    : 0.6;
            font-size  : 14px;
            // color      : #69C;
            // background-color: #69C;
            border-radius: 4px;
            // text-shadow: 0 0 0.5px #000;
            opacity: 0.6;

            &.material-symbols-outlined {
                font-size  : 24px;
            }
        }

        &:hover {
            background     : rgba(0, 0, 0, 0.1);
            text-decoration: none;
            text-shadow    : 0 1px 0 #e8e8e888;
        }

        &.active {
            background : #f8f8f7;
            color      : #C60;
            opacity    : 1;
            box-shadow : 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 -1px 0 0 rgba(0, 0, 0, 0.1);
            // font-weight: 600;
            .icon {
                opacity: 1;
            }
        }

        .chevron {
            color      : rgba(0, 0, 0, 0.3);
            float      : right;
            line-height: 2rem;
            padding    : 0 0.75rem;
            font-size  : 60%;
        }
    }

    label {
        opacity: 0.6;
    }

    .group {
        
        // text-indent: 1.8rem;
        display    : none;
        font-weight: 400;
        // font-size  : 1.1rem;
        // white-space : nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;

        a, .link {
            // color: $color-blue-dark;
            // font-family: "Arial";//$font-family;
            padding-left: 1.8rem;
            
            // .icon {
                // color      : $color-blue-dark;
                // opacity    : 1;
                // text-shadow: 0 0 1px #FFF;
                // margin     : 0;
                // width      : 1.5rem;
            // }

            &.active {
                background: #f8f8f7;
                color     : #C60;
                display   : block;
            }
        }

        &.active {
            display: block;
        }
    }

    hr {
        background: transparent;
        height    : 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin    : 0.5em 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }

}


@media (max-width: 1340px) {

    .navigation {
        position: fixed;
        top     : 5rem;
        bottom  : 1rem;
        left    : 1rem;
        z-index : 10000;
        width   : 2.2rem;
        padding-bottom: 1rem;
        
        .group, .group.active, .chevron {
            display: none;
        }

        &:hover {
            width: 16rem;
            .group.active {
                display: block;
            }
            .chevron {
                display: block;
            }
        }
    }


    #main {
        padding: 1rem 1rem 1rem 3.5rem !important;
    }
}