.collapse {
    display: block;
    
    .collapse-header {
        margin       : 0;
        font-weight  : bold;
        cursor       : pointer;
        padding      : 0.2em 0;
        user-select  : none;
        border-bottom: 1px dashed rgb(from var(--color-window-fg) r g b / 0.2);
        text-indent  : 0;
        max-width    : 100%;
        overflow     : hidden;
        text-overflow: ellipsis;
        white-space  : nowrap;
        display      : grid;
        grid         : auto-flow / auto 1fr;
        align-items  : center;
        gap          : 4px;

        > .fa-solid {
            width     : 16px;
            font-size : 16px;
            text-align: center;
            color     : rgb(from var(--color-window-fg) r g b / 0.5);
        }
    }

    &.selected .collapse-header, .collapse-header:focus-visible {
        background-color: var(--color-highlight);
        outline         : 1px solid rgb(from var(--color-blue-dark) r g b / 50%) !important;
        outline-offset  : -2px;
        border-radius   : 4px;
        border-color    : transparent !important;
    }

    .collapse-body {
        opacity   : 1;
        overflow  : visible;
        transform : none;
        transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
        min-height: 0 !important;
        height    : auto;
        visibility: visible;
        transform-origin: 50% 0;

        &.animating {
            overflow  : hidden !important;
            visibility: visible !important;
        }
    }

    &.collapsed {
        .collapse-header {
            color: var(--color-window-fg);

            &:hover {
                color: var(--color-brand-2);
            }
        }

        .collapse-body {
            transform: scaleY(0.8);
            opacity: 0;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }

    .collapse-body .collapse-header {
        color: var(--color-blue) !important;
        border-bottom: none;
        box-shadow: none;
        font-size: 16px;
    }
}