@import "../../../styles/variables.scss";

.menu-button {
    position: relative;
    display : flex;
    outline : 0;
    align-items: center;

    > .menu-button-btn {
        background   : transparent;
        color        : inherit;
        border       : 1px solid transparent;
        line-height  : 1.4;
        min-width    : 2em;
        text-align   : center;
        appearance   : none;
        cursor       : pointer;
        border-radius: 4px;
        padding      : 0.4em 0.8em;
        box-shadow   : none;

        i {
            vertical-align: middle;
        }

        .default-icon {
            color: rgba(0, 0, 0, 0.4);
        }
    }

    .menu {
        position        : absolute;
        z-index         : 100;
        top             : 100%;
        left            : 0;
        background      : #FFF;
        box-shadow      : 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 5px -1px rgba(0, 0, 0, 0.3);
        color           : $color-grey-dark;
        text-align      : left;
        padding         : 2px;
        border-radius   : 2px;
        margin-top      : 2px;
        transform-origin: 100% 0;
        transform       : scale(1, 0);
        opacity         : 0;
        transition      : transform 0.4s ease-out, opacity 0.1s ease-out;
        white-space     : pre-wrap;
        text-shadow     : none;
        width: max-content;

        > hr {
            background: #DDD;
            height: 1px;
            padding: 0;
            margin: 2px 0;
        }
    }

    &:hover > .menu-button-btn {
        background: rgba(0, 0, 0, 0.05);
        color: currentColor;
        border-color: rgba(0, 0, 0, 0.1);
    }

    &:focus, &:focus-within {
        > .menu-button-btn {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) inset;
            background: rgba(0, 0, 0, 0.1);
            pointer-events: none;
            outline: none;
            border-radius: 3px;
            border-color: rgba(0, 0, 0, 0.3);
        }

        .menu {
            transform: scale(1, 1);
            opacity: 1;
            transition: transform 0.1s ease-out, opacity 0.4s ease-out;
        }

        .default-icon {
            color: currentColor;
        }
    }

    > .menu-button-btn:focus + .menu {
        transform: scale(1, 1);
        opacity: 1;
        transition: transform 0.1s ease-out, opacity 0.4s ease-out;
    }

    .menu-item {
        
        padding: 0.4em 1.2em;
        
        > * {
            display: block;
            outline: 0 none;
        }

        > a.active {
            background: #DDD;
        }

        &:hover, &:focus, &:focus-within {
            &, * {
                background: $color-blue !important;
                color: #FFF !important;
                box-shadow: none;
            }
        }
    }

    &.menu-right .menu {
        left: auto;
        right: 0;
    }

}

.btn .menu-button {

    &:last-child {
        margin: -0.4em -0.8em -0.4em 0;
    }
    &:first-child {
        margin: -0.4em 0 -0.4em -0.8em;
    }

    &:before {
        content: "";
        display: block;
        float: left;
        width: 0px;
        height: 1.4em;
        margin: 0 2px 0 -2px;
        border-color: rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.2);
        border-width: 1px;
        border-style: solid;
        // border-left: 0.5px solid rgba(0, 0, 0, 0.2);
        // border-right: 0.5px solid rgba(255, 255, 255, 0.2);
        // box-shadow: -1px -1px 0px 0 rgba(255, 255, 255, 0.25) inset, 1px 1px 0px 0 rgba(0, 0, 0, 0.25) inset;
    }

    > .menu-button-btn {
        min-width    : 1.8em;
        width        : auto;
        border-radius: 0 3px 3px 0;
        padding      : 3px 6px;
        margin       : 1px 1px 1px 0;
        line-height  : 2.01;
        
    }

    .menu-item  > * {
        // padding-left: 1.2em;
        text-indent: 0;
    }

    &:hover > .menu-button-btn {
        background: rgba(0, 0, 0, 0.1);
    }

    &:focus, &:focus-within {
        > .menu-button-btn {
            background: rgba(0, 0, 0, 0.2);
        }
    }
}