@import "../../styles/variables.scss";

.home-page {

    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;

    .card {
        background: #FFF;
        padding: 1.5em 2em;
        border-radius: 0.5em;
        border: 1px solid $color-grey;
        transition: all 0.2s;

        li::marker, .icon {
            color: #AAA;
        }
        
        .icon {
            font-size: 16px;
            margin: 0 3px 0 0;
        }
        
        hr {
            background: #EEE;
            border: 0;
            height: 1px;
            margin: 0.5em 0;
        }

        h4 {
            overflow     : hidden;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            flex: 1;
            font-size: 110%;
            font-weight: 500;
            color: #666;
            transition: all 0.2s;
            text-transform: uppercase;
            text-shadow: 0px 1px 1px #0001;

            &:first-child {
                margin-top: 0;
            }
        }

        p {
            color: #777;
        }

        li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .study-areas {
        display: grid;
        grid-row: 1;
        grid-column: 1 / 6;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
        overflow: auto;
        padding: 5px;
        margin: 0 -5px -5px;

        .card {
            box-shadow: 0px 10px 0px -6px fade-out($color-blue-dark, 0.9);
        }

        .card:hover {
            cursor: pointer;
            box-shadow: 0 0 0 5px fade-out($color-blue-dark, 0.8);
            border-color: $color-blue-dark;
        }

        h4 {
            color: $color-blue-dark;
        }

        p {
            font-size: 90%;
        }
    }

    .graphs-row {
        display: grid;
        grid-row: 2;
        grid-column: 1 / 6;
        gap: 0 2rem;
        grid-template-columns: 20rem auto;
    }

    .graphs {
        grid-column: 1 / 2;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-origin: content-box;
        aspect-ratio: 16/10;
    }

    .graphs-list {
        grid-column: 2 / 6;
        overflow: hidden;
    }

    .subscriptions {
        grid-row: 3;
        grid-column: 1 / 4;
    }

    .sites {
        grid-row: 3;
        grid-column: 4 / 6;
    }    
}

@media (max-width: 42rem) {
    .home-page {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;

        .study-areas {
            gap: 1rem;
            grid-column: 1 / 1;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            overflow: visible;
            padding: 5px;
            margin: 0 -5px -5px;
        }

        .graphs-row {
            gap: 1rem;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-column: 1 / 1;

            .graphs {
                grid-row: 1;
                grid-column: 1 / 1;
                max-width: none;
            }

            .graphs-list {
                grid-row: 2;
                grid-column: 1 / 1;
                overflow: hidden;
            }
        }

        .subscriptions {
            grid-row: 3;
            grid-column: 1 / 1;
        }

        .sites {
            grid-row: 4;
            grid-column: 1 / 1;
        } 
    }
}