.home-page {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;

    .card {
        background: var(--color-window-bg-hard);
        padding: 1.5em 2em;
        border-radius: 0.5em;
        border: 1px solid var(--color-grey);
        transition: all 0.2s;

        li::marker, .icon {
            color: var(--color-brand-2);
        }
        
        .icon {
            font-size: 20px;
            line-height: 20px;
            vertical-align: middle;
            margin: -1px 0.25em 1px 0;
        }
        
        hr {
            border: 0;
            height: 1px;
            margin: 0.5em 0;
        }

        h4 {
            overflow     : hidden;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            flex: 1;
            font-size: 110%;
            font-weight: 500;
            transition: all 0.2s;
            text-transform: uppercase;

            &:first-child {
                margin-top: 0;
            }
        }

        p {
            color: var(--color-grey);
        }

        li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            list-style: none;
        }
    }

    .sync-notes {
        grid-column: 1 / 6;
        background: rgb(from var(--color-orange) r g b / 0.2);
        padding: 1em 1.5em;
        border-color: rgb(from var(--color-orange) r g b / 0.2);
        font-weight: bold;
    }

    .study-areas {
        display: grid;
        grid-row: 1;
        grid-column: 1 / 6;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
        overflow: auto;
        padding: 5px;
        margin: 0 -5px -5px;

        .card:hover {
            cursor: pointer;
            box-shadow: 0 0 0 5px rgb(from var(--color-blue-dark) r g b / 0.2);
            border-color: var(--color-blue-dark);
        }

        h4 {
            color: var(--color-blue-dark);
        }

        p {
            font-size: 90%;
        }
    }

    .graphs-row {
        display: grid;
        grid-row: 2;
        grid-column: 1 / 6;
        gap: 0 2rem;
        grid-template-columns: 23rem auto;
    }

    .graphs {
        grid-column: 1 / 2;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-origin: content-box;
        aspect-ratio: 16/10;
    }

    .graphs-list {
        grid-column: 2 / 6;
        overflow: hidden;
    }

    .subscriptions {
        grid-column: 1 / 4;
    }

    .sites {
        grid-column: 4 / 6;
    }    
}

@media (max-width: 42rem) {
    .home-page {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;

        .study-areas {
            gap: 1rem;
            grid-column: 1 / 1;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            overflow: visible;
            padding: 5px;
            margin: 0 -5px -5px;
        }

        .graphs-row {
            gap: 1rem;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-column: 1 / 1;

            .graphs {
                grid-row: 1;
                grid-column: 1 / 1;
                max-width: none;
            }

            .graphs-list {
                grid-row: 2;
                grid-column: 1 / 1;
                overflow: hidden;
            }
        }

        .sync-notes {
            grid-column: 1 / 1;
        }

        .subscriptions {
            grid-column: 1 / 1;
        }

        .sites {
            grid-column: 1 / 1;
        } 
    }
}