@use "sass:color";

@import "../../styles/variables.scss";


#app-header {
    background: $color-blue linear-gradient(-90deg, #0AE, darken($color-blue, 20%)) 0px 50% no-repeat;
    color: #FFF;
    position: sticky;
    top: 0;
    z-index: 10000;

    .logo-link {
        line-height   : 2.5rem;
        font-size     : 1.6rem;
        color         : #FFFB;
        letter-spacing: 0.4rem;
        margin: 0 0 0 0.25rem;

        img {
            height: 1.8rem;
            margin: 0 0.5em -0.2rem 0;
        }

        sup {
            font-size: 50%;
        }

        .logo-icon {
            font-size: 3rem;
            vertical-align: top;
            margin: 0 0.25rem 0 0;
        }
    }

    .col {
        height: 4em;
    }
}