#tooltip-container {
    position: fixed;
    z-index: 20000;
    overflow: visible;
    top: 0;
    left: 0;

    .tooltip {
        position   : fixed;
        z-index    : 100000;
        color      : #FFF;
        text-shadow: 0px 0px 2px #0007;
        transition : opacity 0.2s ease-in-out;
        margin-top : -8px;
        // font-family: Arial, 'Helvetica Neue', 'Open Sans',Tahoma, 'Arial', sans-serif;
        font-size  : 15px;
        opacity    : 0;
        max-width  : min(90vw, 550px);
        pointer-events : none;
        backdrop-filter: blur(5px);
        border-radius  : 9px;
        background: linear-gradient(#0008, #0009);
        filter: drop-shadow(5px 5px 10px #0003);

        > .contents {
            position: relative;
            z-index: 2;
            padding: 5px;
            line-height: normal;
            white-space: pre-wrap;
            line-break: anywhere;

            img {
                border-radius  : 4px;
            }
        }

        > .pointer {
            position: absolute;
            top: 100%;
            left: 50%;
            width: 0;
            height: 0;
            border-width: 5px 5px 0;
            border-color: #0009 #0000 #0000;
            border-style: solid solid solid solid;
            margin: 0 0 -5px -5px;
            z-index: 20000;
        }

        &.top-pointer {
            margin-top : 8px;
            
            > .pointer {
                top : -5px;
                left: 50%;
                margin: -5px 0 0 -5px;
                border-width: 5px;
                border-color: #0000 #0000 #0008;
            }
        }

        &.no-pointer > .pointer {
            display: none;
        }
    }
}