.edit-in-place {
    position           : relative;
    padding-block-start: 0;
    padding-block-end  : 0.16ex;

    > span {
        visibility : hidden;
        display    : block;
        white-space: pre-wrap;
    }

    textarea {
        position     : absolute;
        top          : 0;
        left         : 0;
        width        : 100%;
        height       : 100%;
        padding      : 0;
        margin       : 0;
        border       : 0 none;
        max-height   : none;
        min-height   : 0;
        line-height  : inherit;
        appearance   : none;
        font         : inherit;
        background   : rgba(0, 0, 0, 0);
        color        : inherit !important;
        display      : block;
        resize       : none;
        border-radius: 3px;
    }
}