.study-builder {

    label {
        margin-bottom: 0.25rem;
        display: block;

        + p {
            margin-top: 0;
        }
    }

    .check-list label {
        font-size: 90%;
        &.checkbox-label {
            margin-bottom: 0;
        }
    }

    .study-builder-main {
        h4 {
            margin-top    : 6rem;
            letter-spacing: 2px;
            font-variant  : small-caps;
            font-weight   : 700;
            text-transform: uppercase;
            font-size     : 16px;
            color         : var(--color-brand-2);
        }
    }

    .boolean-editor {
        .wrap-label {
            padding: 0.2em 0 0.2em 0;
        }
    }

    .editor-set .boolean-editor {
        .checkbox-label {
            white-space: nowrap;
            b { font-weight: 400; }
        }
        .checkbox-label-description {
            padding: 0;
            span:empty {
                display: none;
            }
        }
        .empty-label {
            display: none;
        }
        .wrap-label {
            padding: 0;
            display: block;
        }
    }
}