@import "../../styles/variables.scss";


.study-builder {

    label {
        margin-bottom: 0.25rem;
        display      : block;
        color        : #369;

        + p {
            margin-top: 0;
        }

        .checkbox-label-description {
            color: #444;
        }
    }

    .check-list label {
        color: #444;
        font-size: 90%;
        &.checkbox-label {
            margin-bottom: 0;
        }
    }

    .study-builder-main {
        background   : #FFF;
        background   : #FFF linear-gradient(#1b5dab11, #1b5dab22 8rem, #CCC 8rem, #CCC 8.05rem, #FFF 7rem);
        border       : 1px solid #CCC;
        padding      : 3rem;
        border-radius: 1rem;
        max-width    : 72rem;
        margin       : auto;
        

        h4 {
            margin-top    : 6rem;
            letter-spacing: 2px;
            font-variant  : small-caps;
            font-weight   : 700;
            text-transform: uppercase;
            font-size     : 16px;
            color         : #393;
            // text-shadow   : 2px 2px 2px #0002;
        }
    }

    .boolean-editor {
        .wrap-label {
            padding: 0.2em 0 0.2em 0;
        }
    }

    .editor-set .boolean-editor {
        .checkbox-label {
            white-space: nowrap;
            b { font-weight: 400; }
        }
        .checkbox-label-description {
            padding: 0;
            span:empty {
                display: none;
            }
        }
        .empty-label {
            display: none;
        }
        .wrap-label {
            padding: 0;
            display: block;
        }
    }
}