.import-preview-wrap {
    overflow: auto;
}
table.import-preview {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    min-width: 100%;
    font-size: 12px;

    td, th {
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        cursor: default;
        font-family: monospace;
        text-align: left;

        &.selected {
            background: var(--color-highlight);
        }
    }
}

.data-uploader {
    .progress {
        width: 100%;
        margin: 1em 0;
        text-align: left;
        line-height: 1.6;
    }
    .progress-bar-wrap {
        overflow: hidden;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        // padding: 1px;
        box-shadow: 0 0 0 1px #fff, 0 10px 10px -10px rgba(0, 0, 0, 0.2) inset;
    }
    .progress-bar {
        height: 10px;
        background-color: #2fff00;
        // border-radius: 2px;
        transition: all 1s linear;
        box-shadow: 0 -20px 10px -10px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.3);
    }

    table {
        border-collapse: collapse;
    }
    td, th {
        padding: 2px;
    }
    tr.selected {
        background: var(--color-highlight);
    }
}