@import "../../styles/variables.scss";

.requests-header {
    position: sticky;
    top: 4rem;
    // padding-top: 1rem;
    background-color: $color-grey-light !important;
    z-index: 20;
}

.requests-grid {
    
    grid-template-rows: 1fr auto;
    page-break-inside: avoid;
    break-inside: avoid;
    column-count: 3;
    column-gap: 1em;
    margin-top: 1em;

    > div {
        display: grid;
        grid-row: 1/-1;
        grid-column: 1;
        break-inside: avoid;
    }
}

.columns-table {
    border-collapse: collapse;
    margin: 0;

    > tbody > tr > th {
        border-bottom: 1px solid $color-grey;
        padding: 3px 6px;
        &:first-of-type {
            padding-left: 1.25em;
        }
    }
    > tbody > tr > td {

        padding: 3px 6px;

        &.col-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom: 1px solid #0001;
            cursor: pointer;
            padding: 3px 6px 3px 0;
            color: $color-blue-dark;
            &:hover {
                color: $color-brand-2;
            }
        }
        &.col-description {
            border-bottom: 1px solid #0001;
        }
        &.col-details {
            padding: 6px 6px 2em 2.5rem;
            font-size: 85%;
            line-height: 1.4;
            color: #666;

            table {
                margin-left: 2em;
            }
            td, th {
                padding: 0;
            }
        }
    }

    > tbody > tr + tr:hover {
        > td, > th {
            background: #00000008;
        }
    }

    .arrow {
        display: inline-block;
        width: 1em;
        text-align: center;
        margin-right: 0.25em;
        color: $color-grey-dark;
    }
}

@media (max-width: 50em) {
    .requests-grid {
        column-count: 2;
    }
}

@media (max-width: 36em) {
    .requests-grid {
        column-count: 1;
    }
}