@import "../../styles/variables.scss";




.highcharts-menu {
    
    .highcharts-menu-item {
        margin: 0;
        font-family: inherit;
        font-size: $font-size * 0.86 !important;
    }

    hr {
        margin: 0.25em 0;
    }
}

.main-chart {
    width: 100%;
    aspect-ratio: 5/3;
    min-width: 500px;
    min-height: 300px;
    overflow: hidden;

    * { 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

}

.chart-caption {
    padding: 4px;
    &:empty:before {
        content: "Click to add chart caption";
        opacity: 0.5;
    }
}

