@import "../../styles/variables.scss";

@mixin highlight($width: 1px, $offset: 0) {
    outline: $width solid #39F;
    outline-offset: $offset;
    stroke: #39F3;
    stroke-dasharray: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    transition: outline-color 0.3s linear 0s, stroke 0.3s linear 0s;
    
    &:active {
        outline-color: #39F;
        stroke: #39F8;
    }
}

.highcharts-menu {
    
    .highcharts-menu-item {
        margin: 0;
        font-family: inherit;
        font-size: 0.86rem !important;
    }

    hr {
        margin: 0.25em 0;
    }
}

.draft-label {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: #E60C;
    color     : #FFF;
    font-size  : 10px;
    font-weight: 600;
    font-weight: 600;
    line-height: 1;
    text-align : center;
    padding: 2px 8px;
    width  : 80px;
    height : 14px;
    transform-origin: 0 0;
    transform  : translate(-14px, 44px) rotate(-45deg);
    box-shadow : 0 0 0 0.5px #B30C inset;
    text-shadow: 0 0px 2px rgb(145, 63, 0);
}

.main-chart {
    // width: 100%;
    aspect-ratio: 5/3;
    min-width: 500px;
    min-height: 300px;
    overflow: hidden;
    position: relative;

    .highcharts-container {
        left: 0 !important;
        top : 0 !important;
    }

    &.inspecting {

        $cursor: crosshair;
        $outline: 2px solid #06C9;
        
        * {
            cursor: $cursor !important;
        }

        // Pass events through if needed
        .highcharts-plot-band, .highcharts-a11y-proxy-container-after, .highcharts-legend > * {
            pointer-events: none;
        }

        // Chart ---------------------------------------------------------------
        .highcharts-background {
            outline-color: #06C0;
            &:hover {
                @include highlight(2px, -4px);
            }
        }

        // Plot ----------------------------------------------------------------
        .highcharts-plot-background {
            pointer-events: fill; // Make it clickable even without a background
            outline: 2px solid #06C0;
            outline-offset: 2px;
            &:hover {
                @include highlight(2px, 2px);
            }
        }

        // Axis Lines ----------------------------------------------------------
        &:hover .highcharts-axis {
            .highcharts-axis-line {
                outline-color: #06C0;
                stroke: #06C1;
                pointer-events: all;

                &[stroke-width="0"],
                &[stroke-width="1"],
                &[stroke-width="2"],
                &[stroke-width="3"],
                &[stroke-width="4"] {
                    stroke-width: 5px !important;
                }
            }
            &:hover .highcharts-axis-line {
                stroke: #06C9;
                // @include highlight(2px, 0);
            }
        }

        // Axis Titles ---------------------------------------------------------
        .highcharts-axis-title {
            outline-color: #06C0;
            &:hover {
                @include highlight(2px, 2px);
                border-radius: 0.1px;
            }
        }

        // Axis Labels ---------------------------------------------------------
        .highcharts-xaxis-labels, .highcharts-yaxis-labels {
            > * {
                outline-color: #06C0;
            }
            &:hover > * {
                @include highlight(2px, 1px);
                border-radius: 0.1px;
            }
        }

        // Grid Lines ----------------------------------------------------------
        &:hover .highcharts-grid {
            path {
                stroke-width: 3px;
                stroke-dasharray: none;
                stroke-linejoin: round;
                stroke: #06C1;
                // outline-color: #06C0;
            }
            &:hover path {
                stroke: #06C9;
                // @include highlight(2px, 0);
            }
        }

        // Legend --------------------------------------------------------------
        .highcharts-legend {
            // pointer-events: all;
            // pointer-events: bounding-box;
            .highcharts-legend-box {
                outline-color: #06C0;
                // pointer-events: none;
                pointer-events: bounding-box;
            }
            &:hover .highcharts-legend-box {
                @include highlight(2px, 0);
                border-radius: 1px;
            }
        }

        // Title ---------------------------------------------------------------
        .highcharts-title {
            outline-color: #06C0;
            &:hover {
                @include highlight(2px, 3px);
                border-radius: 0.1px;
            }
        }

        // Caption -------------------------------------------------------------
        .highcharts-caption {
            outline-color: #06C0;
            &:hover {
                @include highlight(2px, 1px);
                border-radius: 0.1px;
            }
        }

        // Subtitle ------------------------------------------------------------
        .highcharts-subtitle {
            outline-color: #06C0;
            &:hover {
                @include highlight(2px, 1px);
                border-radius: 0.1px;
            }
        }

        // Annotations ---------------------------------------------------------
        // .highcharts-annotation .highcharts-annotation-label > span {
        //     outline-color: #06C0;
        // }
        // .highcharts-annotation:hover .highcharts-annotation-label > span {
        //     @include highlight(2px, 1px);
        //     border-radius: 0.1px;
        // }
        .highcharts-annotation-label {
            pointer-events: bounding-box;
            outline-color: #06C0;
            // * {
            //     pointer-events: none;
            // }
            &:hover {
                @include highlight(2px, 1px);
                border-radius: 0.5px;
            }
        }

        // Plot Lines ----------------------------------------------------------
        &:hover .highcharts-plot-line {
            stroke-width: 4px;
            stroke-dasharray: none;
            stroke: #06C3;
            pointer-events: all;
            outline-color: #06C0;

            &:hover {
                @include highlight(2px, 0px);
            }
        }
        &:hover .highcharts-plot-line-label {
            outline-color: #06C0;
            &:hover {
                @include highlight(2px, 0px);
                border-radius: 1px;
            }
        }
        // &:has(.highcharts-plot-line:hover), &:has(.highcharts-plot-line-label:hover) {
        //     .highcharts-plot-line-label {
        //         @include highlight(2px, 1px);
        //     }
        //     // .highcharts-plot-line {
        //     //     @include highlight(1px, 1px);
        //     // }
        // }

        // Data Labels ---------------------------------------------------------
        .highcharts-data-labels:not(.highcharts-pie-series) {
            .highcharts-data-label {
                outline-color: #06C0;
            }

            &:hover .highcharts-data-label {
                @include highlight(2px, 0px);
                border-radius: 1px;
            }
        }
    }
}

.data-view {
    width: 100%;
    aspect-ratio: 5/2.824;
    min-width: 500px;
    min-height: 300px;
    overflow: auto;
    position: relative;
    font-family: monospace;
    white-space: pre-wrap;
    font-size: 0.86rem;
    border: 1px solid $color-grey;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    padding: 4px;
    line-height: 1.182;
    background: #FFF;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}


.chart-loader {
    position: absolute;
    z-index: 2;
    background: #FFF;
    border-radius: 5px;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s linear 0.1s;
}

.loading > .chart-loader {
    opacity: 0.9;
    pointer-events: all;
}

.chart-caption {
    padding: 4px;

    &:empty:before {
        content: " ▹ Click to add chart caption";
        opacity: 0.5;
    }

    &:focus {
        background-color: #FFF;
    }

    * {
        font-size: 16px !important;
    }

    .caption-bullet {
        margin-top: 3px;
        vertical-align: top;
        text-shadow: 0 0 1px #FFF;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 8px;
        box-shadow: 0 0 0 1px #0004 inset, 0 0 1px 0 #FFF;
    }
}

.dashboard {
    margin-left : auto;
    margin-right: auto;
    flex        : 0 1 0;
    width       : 100%;
    max-width   : 1200px;
    transition  : all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);

    &.sidebar-open {
        max-width: 100%;
    }

    > .row {
        justify-content: center;
    }
}

.dashboard-sidebar {
    position      : sticky;
    top           : 6rem;
    width         : 0;
    opacity       : 0;
    pointer-events: none;
    z-index       : -1;
    transition    : all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    margin-right  : 0rem;
    height        : calc(100vh - 8rem);
    overflow      : hidden;
    margin-left   : -3px;
}

.dashboard.sidebar-open .dashboard-sidebar {
    width         : 340px;
    opacity       : 1;
    pointer-events: all;
    z-index       : unset;
    margin-right  : 0.5rem;
    overflow-y    : auto;
    overflow-X    : hidden;
}

.dashboard-sidebar .repeatable {
    margin: 0 0 1em;
    padding: 1px;
    box-shadow: 0 0 0 1px #CCC inset;
    border-radius: 5px 5px 0 0;
    header {
        padding: 2px 2px 2px 4px;
        display: flex;
        border-bottom: 1px solid #0002;
        background: #EEE;
        border-radius: 4px 4px 0 0;
        box-shadow: 0 1px 0 #FFF inset;
        text-shadow: 0 1px 0 #FFF;
        b {
            flex: 1;
        }

        button {
            padding: 0;
        }
    }
}
.dynamic-inspector {
    padding-bottom: 1rem;

    .tabs .tab-name.active {
        background: linear-gradient(#fff, #fff0);
    }
    .tabs-content {
        padding   : 0.5rem 0;
        box-shadow: none;
        height    : auto;
        background: transparent;
    }
}
.dashboard-sidebar .all-series {
    padding: 0 0;
    .collapse-header {
        font-size: inherit;
        border-bottom: 1px solid #0001;
        padding: 3px 3px 3px 0;
        line-height: normal;
    }
    .collapse.selected .collapse-header {
        background: linear-gradient(170deg, #06C1, #06C3);
    }

    .collapse-body > .property-grid {
        margin-left: 1.3em;
    }
}

.dashboard-sidebar-swap-btn-wrap {
    background: $color-grey;
    height    : 3.8em;
    width     : 1px;
    position  : absolute;
    top       : 4.5em;
    right     : 1em;

    > div {
        position     : absolute;
        width        : 2.2em;
        height       : 2.2em;
        top          : 50%;
        left         : 50%;
        margin       : -1.1em auto auto -1.1em;
        box-shadow   : 0 0 0 1px $color-grey;
        border-radius: 30px;
        background   : $color-grey-light;
        text-align   : center;
        line-height  : 2.2em;
        color        : darken($color-grey, 15%);
        cursor       : pointer;
        text-shadow  : 1px 1px 1px #FFF;
        user-select  : none;
        rotate       : 90deg;
        font-size    : 12px;

        &:hover {
            color     : darken($color-grey, 30%);
            background: #FFF;
        }
        
        &:active {
            color      : darken($color-grey, 50%);
            background : $color-grey;
            box-shadow : 0 0 0 1px #0008, 4px 0 6px 1px #0003 inset;
            text-shadow: 0 0 2px #FFF;
        }
    }
}

@media (max-width: 960px) {
    .dashboard-sidebar {
        display: none;
    }
}

.json-null { color: #C60; font-weight: bold; }
.json-bool { color: #606; font-weight: bold; }
.json-number { color: #C00 }
.json-string { color: #093 }
.json-key { color: #36C }