@import "../../../styles/variables.scss";


label.checkbox-label {
    display: block;
    padding: 0 0.5em 0 1.6em;
    border-radius: 4px;
    position: relative;
    font-weight: normal;
    line-height: 1.6em;

    > input[type="checkbox"], > input[type="radio"] {
        font-size:  inherit;
        margin: 0em 0.4em 0em -1.4em;
        width: 1em;
        height: 1em;
        outline: 0;
        vertical-align: top;
        position: relative;
        top: 0.3em;

        &:focus-visible + .checkbox-label-focus-highlight {
            box-shadow: 0 0 0 1px lighten($color: $color-blue, $amount: 10%) inset;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: 4px;
        }
    }

    > input[type="text"] {
       vertical-align: top; 
       line-height: inherit;
       padding: 0 0.5em;
    }

    .checkbox-label-description {
        font-weight: normal;
        font-size: 85%;
        line-height: normal;
        padding: 0 0 0.3em;

        &:empty {
            display: none;
        }
    }

    &:hover {
        background: lighten($color: $color-blue, $amount: 36%);
        box-shadow: 0 0 0 1px lighten($color: $color-blue, $amount: 30%) inset;
    }
}