@import "../../styles/variables.scss";

.breadcrumbs {
    margin-bottom: $font-size;
    a {
        color: $color-blue;
        white-space: nowrap;
    }
    .icon {
        color: $color-grey;
        margin: 0 0.5em;
    }
}