@import "../../../styles/variables.scss";


.link-widget {
    line-height: 1.4;
    padding    : 0 !important;
    white-space: nowrap;
    overflow   : scroll;
    height     : 100%;
    user-select: none;
    max-height : 60vh !important;

    > div {
        min-width: max-content;
    }

    label { margin: 0; padding: 1px 0; }

    summary {
        padding: 1px 0;

        &::marker {
            color: #666;
        }
    }

    > details {
        display: block;
        min-width: 100%;
    }

    .badge {
        margin: 3px 0.5em 2px;
        vertical-align: top;
        background: fade-out(#000, .75);
    }

    .icon {
        line-height: 1 !important;
        height: 1em !important;
        vertical-align: top;
        margin: 0 0.2em 0 0.1em;
        color: #999;
        overflow: hidden;
        &.color-blue { color: $color-blue; }
        &.color-red { color: $color-red; }
        &.color-green { color: $color-green; }
        &.color-red { color: $color-red; opacity: 0.7 }
        &.color-brand-2 { color: $color-brand-2; }
    }

    .icon-2 {
        margin: 0 0.14em 0 -0.12em;
    }

    .icon-3 {
        margin: 0 0.14em 0 2.86em;
        text-indent: 0;
    }

    details {
        text-indent: 0.4em;
        
        label { font-weight: 600; }
        details {
            text-indent: 1.8em;
            
            label { font-weight: 400; }

            summary:not(:first-of-type) {
                background: #FFF;
                color: #888;
            }

            &.selected {
                &, & summary {
                    background: mix($color-blue, #FFF, 15);
                }
                color: #000;
            }

            &.disabled {
                color: #999;
                label { pointer-events: none; }
                ::marker {
                    color: #999;
                }
            }
            
            
        }
    }

    label {
        text-indent: 0;
        font-weight: normal;
    }
}