@import "../../../styles/variables.scss";


.static-grid-wrapper {
    overflow  : auto;
    border    : 1px solid #0003;
    position  : relative;
    min-height: 3em;

    .static-grid-table {
        cursor: default;
        border-spacing: 0;
        background: #0001;

        tr {
            background: #FFF;

            &:hover {
                background: #F0F0F0;
            }
        }

        th, td {
            padding       : 2px 6px;
            vertical-align: middle;
            white-space   : nowrap;
            text-overflow : ellipsis;
            overflow      : hidden;
            input {
                margin: 0 auto;
                line-height: inherit;
            }
            border-top: 0.5px solid #00000013;
            border-bottom: 0.5px solid #00000013;
            border-left: 1px solid #00000013;
            &:first-child {
                border-left: 0;
            }
        }

        th {
            padding       : 3px 6px;
            user-select: none;
            border-bottom: 1px solid #0003;
            background: linear-gradient(#F9F9F9, #F0F0F0);
            text-shadow: 0 1px 0 #FFF;

            .icon {
                color: #0004;
            }

            &.sorted {
                box-shadow: 0 -2px 0 0 #F906 inset;
                background: linear-gradient(#FFF, #FFF);
                border-bottom-color: #C608;
            }
        }

        tr.selected td {
            background: fade-out($color-blue, 0.75);
            color: #000C;
            text-shadow: 0 1px 0 #FFF8;
        }

        thead th {
            position: sticky;
            top: 0;
        }

        td.no-data {
            text-align: center;
            padding: 0.5em 1em;
            color: #900;
        }

        .group-header {
            background: #FFF;
            color: $color-blue;
            font-weight: 500;
            cursor: pointer;
            padding       : 2px 6px 2px 4px;
            transition: all 0.2s;
            border-top-color: #FFF;
            
            .icon {
                width: 1.2em;
                text-align: center;
                color: #0004;
            }
        }
    }

    &.grouped .static-grid-table tr td:first-child:not(.group-header),
    &.grouped .static-grid-table tr th:first-child:not(.group-header) {
        padding-left: 28px;
    }
}