@import "../../../styles/variables.scss";


.static-grid-wrapper {
    overflow  : auto;
    border    : 1px solid #0003;
    position  : relative;
    min-height: 3em;

    .static-grid-table {
        cursor: default;
        border-spacing: 0;
        background: #0001;

        tr {
            background: #FFF;

            &:nth-child(odd) {
                background: #F8F8F8;
            }

            &:hover {
                background: #F0F0F0;
            }
        }

        th, td {
            padding       : 2px 6px;
            vertical-align: middle;
            white-space   : nowrap;
            text-overflow : ellipsis;
            overflow      : hidden;
            input {
                margin: 0 auto;
                line-height: inherit;
            }
        }

        th {
            user-select: none;
            border-bottom: 1px solid #0003;
            background: linear-gradient(#F9F9F9, #F0F0F0);
            text-shadow: 0 1px 0 #FFF;

            .icon {
                color: #0004;
            }

            &.sorted {
                box-shadow: 0 -2px 0 0 #F906 inset;
                background: linear-gradient(#FFF, #FFF);
            }
        }

        tr.selected td {
            background: highlight;
            color: highlightText;
        }

        thead th {
            position: sticky;
            top: 0;
        }

        td.no-data {
            text-align: center;
            padding: 0.5em 1em;
            color: #900;
        }

        .group-header {
            background: #FFF;
            border-bottom: 2px solid $color-blue;
            color: $color-blue;
            cursor: pointer;
            padding       : 2px 6px 2px 4px;
            transition: all 0.2s;

            &.closed {
                border-bottom: 1px dashed #0002;
            }

            &.opened {
                padding   : 18px 6px 2px 4px;
                background: #FFF linear-gradient(fade-out($color-blue, 0.95), fade-out($color-blue, 0.9));
            }

            .icon {
                width: 1em;
                text-align: center;
                color: #0004;
            }

            &:hover {
                background: #FFF linear-gradient(fade-out($color-blue, 0.9), fade-out($color-blue, 0.8));
            }
        }
    }
}