@import "../../../styles/variables.scss";


.static-grid-wrapper {
    overflow  : auto;
    border    : 1px solid #0003;
    position  : relative;
    min-height: 6em;

    .static-grid-table {
        cursor: default;
        border-spacing: 0;
        background: #0001;

        tr {
            background: #FFF;

            &:hover {
                background: #F0F0F0;
            }

            &.summary {
                td {
                    background: #FFF8EE !important;
                    color: #777;
                    // color: $color-blue;
                    cursor: default !important;
                    box-shadow: 0 0.5px 0 0 #0002 inset, 0 -0.5px 0 0 #0003 inset;
                }
            }
        }

        th, td {
            padding       : 2px 6px;
            vertical-align: middle;
            white-space   : nowrap;
            text-overflow : ellipsis;
            overflow      : hidden;
            input {
                margin: 0 auto;
                line-height: inherit;
            }
            // border-top: 0.5px solid #00000013;
            // border-bottom: 0.5px solid #00000013;
            border-left: 1px solid #00000013;
            box-shadow: 0 0.5px 0 0 #00000012 inset, 0 -0.5px 0 0 #00000012 inset;
            &:first-child {
                border-left: 0;
            }
        }

        th {
            padding       : 3px 6px;
            user-select: none;
            border-bottom: 1px solid #0003;
            background: linear-gradient(#F9F9F9, #F0F0F0);
            text-shadow: 0 1px 0 #FFF;

            .icon.fa-angle-up,
            .icon.fa-angle-down {
                color: #0004;
            }

            &.sorted {
                box-shadow: 0 -2px 0 0 #F906 inset;
                background: linear-gradient(#FFF, #FFF);
                border-bottom-color: #C608;
            }
        }

        tr.selected td {
            background: fade-out($color-blue, 0.75);
            color: #000C;
            text-shadow: 0 1px 0 #FFF8;
        }

        thead th {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        td.no-data {
            text-align: center;
            padding: 0.5em 1em;
            color: #900;
        }

        .group-header-row {
            background: mix($color-blue, #FFFFFF, 5%);
            td {
                color: $color-blue;
                transition: all 0.2s;

                &:first-child {
                    cursor: pointer;
                    font-weight: 500;
                    padding       : 2px 6px 2px 4px;
                }

                .icon.fa-angle-right,
                .icon.fa-angle-down {
                    width: 1.2em;
                    text-align: center;
                    color: #0004;
                }
            }

            &:hover {
                background: mix($color-blue, #FFFFFF, 10%);
                border-top-color: #00000023;
                border-bottom-color: #00000023;
            }
        }
    }

    &.grouped .static-grid-table tr td:first-child:not(.group-header),
    &.grouped .static-grid-table tr th:first-child:not(.group-header) {
        padding-left: 28px;
    }
}

.simple-grid {
    .static-grid-wrapper {
        border: 0;
    }
    .static-grid-table {
        background: transparent;

        tr {
            background: transparent;
        }

        td {
            padding: 6px;
            border-left-color: #0000;
            border-width: 1px 0;
        }

        th {
            background: $color-grey-light;
            padding: 6px 6px;
            border-color: transparent transparent #0002 transparent;
            border-width: 0 0 3px 0;
            border-style: none none solid none;
            // background: linear-gradient(#F9F9F9, #F0F0F0);
            text-shadow: 0 1px 0 #FFF;
            box-shadow: none;
            cursor: pointer;

            &.sorted {
                box-shadow: none;//0 -2px 0 0 $color-brand-2 inset;
                background: $color-grey-light;
                border-bottom-color: $color-brand-2;
            }
        }

        .group-header-row {
            background: transparent;
            td.group-header {
                padding: 6px 6px;
                color: $color-brand-2;
            }
        }

        tbody > tr:first-child {
            td, th {
                border-top: 0;
            }
        }
    }
}