.tag {
    background   : var(--color-brand-2);
    color        : var(--color-window-bg-hard);
    margin       : 0 0.5em 0 0;
    padding      : 2px 0.5em 2px 1.2em;
    position     : relative;
    line-height  : 1.5;
    font-size    : 90%; 
    white-space  : nowrap; 
    overflow     : hidden;
    text-overflow: ellipsis;
    max-width    : 100%;  
    border-top-left-radius    : 1.25em 50%;
    border-bottom-left-radius : 1.25em 50%;
    border-top-right-radius   : 6px 50%;
    border-bottom-right-radius: 6px 50%;
    list-style-type           : circle;
    mask-image: radial-gradient(circle at 0.5em center, transparent 0.25em, black 0.26em);
}

a.tag:hover {
    cursor: pointer;
}
