@import "../../../styles/variables.scss";

.tag {

    $color-bg: #FC3;
    $color-fg: darken($color-bg, 38);

    background: linear-gradient(mix($color-bg, #fff, 50), mix($color-bg, #fff, 70));
    color: $color-fg;
    box-shadow: 0 0 0 0.5px fade-out($color-fg, 0.6) inset;
    text-shadow: 0 1px 0 fade-out(#FFF, 0.5);
    margin: 0 0.5em 0 0;
    padding: 2px 0.5em 2px 1.2em;
    border-top-left-radius: 1.25em 50%;
    border-bottom-left-radius: 1.25em 50%;
    border-top-right-radius: 5px 50%;
    border-bottom-right-radius: 5px 50%;
    list-style-type: circle;
    position: relative;
    font-weight: 500;
    line-height: 1;
    font-size: 90%;    
    
    &:before {
        content: "";
        background: $color-grey-light;
        position: absolute;
        width: 0.5em;
        height: 0.5em;
        top: 50%;
        margin: -0.25em 0 0 -0.9em;
        border-radius: 50%;
        box-shadow: 0 0 0 0.5px fade-out($color-fg, 0.6);
    }
}
